{% extends "admin/change_list.html" %}
{% load humanize %}
{% block result_list %}

<div class="results">

  <h2> {{ page_desc.bar_chart_title }} </h2>
  <style>
  .bar-chart {
    display: flex;
    justify-content: space-around;
    height: 160px;
    padding-top: 60px;
    overflow: hidden;
  }
  .bar-chart .bar {
      flex: 100%;
      align-self: flex-end;
      margin-right: 2px;
      position: relative;
      background-color: #79aec8;
  }
  .bar-chart .bar-red {
      flex: 100%;
      align-self: flex-end;
      margin-right: 2px;
      position: relative;
      background-color: #A52A2A;
  }
  .bar-chart .bar:last-child {
      margin: 0;
  }
  .bar-chart .bar:hover {
      background-color: #417690;
  }
  .bar-chart .bar .bar-tooltip {
      position: relative;
      z-index: 999;
  }
  .bar-chart .bar .bar-tooltip {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-weight: bold;
      opacity: 0;
  }
  .bar-chart .bar:hover .bar-tooltip {
      opacity: 1;
  }
  
  .row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
  }
  .column {
    display: table-cell;
  }

  </style>
  <div class="results">
      <div class="bar-chart">
      {% for x in apps_total_by_signup_date %}
          <div class="bar" style="height:{{x.pct}}%">
              <div class="bar-tooltip">
                  {{x.apps_sub_total | default:0 | intcomma }}<br>
                  {{x.period | date:"d/m/Y"}}
              </div>
          </div>
      {% endfor %}
      </div>
  </div>  

  <hr>
  <hr>
  <hr>
  <hr>
  <hr>

  <div class="results">
    <div class="row">
      <div class="column">
        <h2> {{ page_desc.bar_chart_title_active }} </h2>
        <div class="bar-chart">
          {% for x in apps_cnts_by_active %}
            {% if x.active %}
              <div class="bar" style="height:{{x.pct}}%">
                  <div class="bar-tooltip">
                      {{ x.app_cnt | default:0 | intcomma }}<br>
                      {{ "App is active" }}
                  </div>
              </div>
            {% else %}
              <div class="bar-red" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{ x.app_cnt | default:0 | intcomma }}<br>
                    {{ "App is not active" }}
                </div>
              </div>
            {% endif  %}
          {% endfor %}
        </div>
      </div>
      <div class="column">
        <h2> {{ page_desc.bar_chart_title_demo_choice }} </h2>
        <div class="bar-chart">
          {% for x in apps_cnts_by_require_demo_scopes %}
            {% if x.require_demographic_scopes %}
              <div class="bar" style="height:{{x.pct}}%">
                  <div class="bar-tooltip">
                      {{ x.app_cnt | default:0 | intcomma }}<br>
                      {{ "App requires demographic_scopes" }}
                  </div>
              </div>
            {% else %}
              <div class="bar-red" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{ x.app_cnt | default:0 | intcomma }}<br>
                    {{ "App does not require demographic_scopes" }}
                </div>
              </div>
            {% endif  %}
          {% endfor %}
        </div>
      </div>
      <div class="column">
        <h2> {{ page_desc.bar_chart_title_client_grant_type }} </h2>
        <div class="bar-chart">
          {% for x in apps_cnts_by_client_type_grant_type %}
            {% if x.client_type == 'public' %}
              <div class="bar-red" style="height:{{x.pct}}%">
                  <div class="bar-tooltip">
                    {{x.app_cnt | default:0 | intcomma }}<br>
                    {{"client_type:"|add:x.client_type}}<br>
                    {{"authorization_grant_type"|add:x.authorization_grant_type}}
                  </div>
              </div>
            {% else %}
              <div class="bar" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                  {{x.app_cnt | default:0 | intcomma }}<br>
                  {{"client_type:"|add:x.client_type}}<br>
                  {{"authorization_grant_type"|add:x.authorization_grant_type}}
                </div>
              </div>
            {% endif  %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>  

  <hr>
  <hr>
  <hr>
  <hr>
  <hr>

  <h2> {{ page_desc.table_view_title }} </h2>

  <table>
        
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">{{ page_desc.header_period }}</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">{{ page_desc.header_apps_count }}</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">{{ page_desc.header_percentage }}</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in apps_total_by_signup_date %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.period }} </td>
        <td> {{ row.apps_sub_total }} </td>
        <td>
          {% if row.apps_sub_total <= 0 and apps_total.apps_total <= 0 %}
            <strong> {{ 0 }} </strong>
          {% else %}
            {% widthratio row.apps_sub_total apps_total.apps_total 100 as pct %}
            <strong> {{ pct }} </strong>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <tr style=”font-weight:bold; border-top:2px solid #DDDDDD;”>
        <td> Total </td>
        <td> {{ apps_total.apps_total | intcomma }} </td>
        <td> 100% </td>
      </tr>
    </tbody>
  </table>

</div>
{% endblock %}
{% block pagination %}{% endblock %}
