{% extends "oauth2_provider/base.html" %}

{% load i18n %}

{% block bannerBackButton %}
  <a class="banner-back-button" href="{% block app-form-back-url %}{% url "oauth2_provider:detail" application.id %}{% endblock app-form-back-url %}"><i data-feather="arrow-left"></i>{% trans "Go Back" %}</a>
{% endblock %}

{% block bannerTitle %}
  {% block app-form-title %}
    {% trans "Edit" %} {{ application.name }}
  {% endblock app-form-title %}
{% endblock %}

{% block bannerDescription %}

{% endblock %}

{% block bannerCallToActionButtons %}

{% endblock %}

{% block content %}
<!-- CI_TESTING:START -->
<!-- test_dot_ext_application_registration -->
<!-- CI_TESTING:END -->

<div class="container">
    <div class="ds-l-row ds-u-justify-content--center ds-u-margin-y--4">
      <div class="ds-l-lg-col--11 ds-l-md-col--11 ds-l-sm-col--12">
        <div class="bb-c-card bb-width--75 ds-u-padding--2 bb-raised-section">
          <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% block app-form-action-url %}{% url 'oauth2_provider:update' application.id %}{% endblock app-form-action-url %}">
          {% csrf_token %}

          <div class="{% if form.non_field_errors %}error{% endif %}">
            {% for error in form.non_field_errors %}
            <div class="ds-c-alert ds-c-alert--error">
              <div class="ds-c-alert__body">
                <h3 class="ds-c-alert__heading">Oops.</h3>
                <p class="ds-c-alert__text">{{error}}</p>
              </div>
            </div>
            {% endfor %}
          </div>

          {% for field in form %}
          <div class="control-group {% if field.errors %}error{% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="controls">
              {{ field }}
              {% for error in field.errors %}
              <div class="ds-c-alert ds-c-alert--error">
                <div class="ds-c-alert__body">
                  <h3 class="ds-c-alert__heading">Oops.</h3>
                  <p class="ds-c-alert__text">{{error}}</p>
                </div>
              </div>
              {% endfor %}
              {% if field.help_text %}
              <div class="ds-c-alert ds-c-alert--hide-icon ds-u-margin-y--4">
                <div class="ds-c-alert__body">{{ field.help_text }}</div>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}

          <button type="submit" class="ds-c-button--primary">Save</button>
          <br />
          <br />
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
