{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
<!-- CI_TESTING:START -->
<!-- test_dot_ext_application_delete -->
<!-- CI_TESTING:END -->

<!-- Ignore Banner Code -->
{% block banner %}{% endblock %}

<div class="sandbox-gradient-bg">
  <div class="gradient-content-container">
    <h1>Delete {{ application.name }}</h1>
    <!-- <p>Are you sure?!</p> -->
    <!-- Content Card -->
    <div class="gradient-content-card">
      <div class="content">
        <strong>{% trans "Are you sure you want to delete" %} {{ application.name }}?</strong>
        <br />
        <br />
        This action can't be undone.
        <form class="ds-u-margin-top--4" method="post" action="{% url 'oauth2_provider:delete' application.pk %}">
          {% csrf_token %}  
          <input type="submit" class="ds-c-button--danger" name="allow" value="{% trans "Delete" %}"/>
          <a class="ds-u-margin-x--2" href="{{ application.get_absolute_url }}">{% trans "Cancel" %}</a>    
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="ds-u-margin-y--2">
  {% trans "Are you sure you want to delete" %} {{ application.name }}?
</div> -->



{% endblock content %}
