{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <!-- CI_TESTING:START -->
    <!-- test_dot_ext_application_list -->
    <!-- CI_TESTING:END -->
    <div class="row">
        <div class="ds-col-lg-12">
            <ol class="breadcrumb">
                <li ><a href="/">Home</a></li>
                <li class="active"><a href="{% url "oauth2_provider:list" %}">{% trans "Registered Applications" %}</a></li>
            </ol>
        </div>
    </div>

    <div class="row container-fluid">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="ds-h4">{%trans "What is this?" %}</h4>
            Here is where application developers register applications and create OAuth2 credentials.
            If you are not an application developer, perhaps you meant to go to the
            <a href="{% url 'oauth2_provider:authorized-token-list' %}">application token page</a>.

        </div>
    </div>

    <div class="block-center">
        <h3 class="ds-h3">{% trans "Registered Applications" %}</h3>
        {% if applications %}
            <ul>
                {% for application in applications %}
                    <li><a href="{{ application.get_absolute_url }}">{{ application.name }}</a> | Updated {{application.updated}}
                {% endfor %}
            </ul>

            <a class="ds-c-button  ds-c-button--default"  href="{% url "oauth2_provider:register" %}"> Register New Application</a>
        {% else %}
            <p>{% trans "No applications defined. Register a New Application:" %}</p>
        {% endif %}
    </div>
    <br><br>
{% endblock content %}
