{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li ><a href="/">Home</a></li>
                <li ><a href="{% url "oauth2_provider:list" %}">{% trans "Created Applications" %}</a></li>
                <li class="active"><a href="">{{ application.name }}</a></li>
            </ol>
        </div>
    </div>

    <div class="block-center">
        <h3 class="block-center-heading">{{ application.name }}</h3>

        <ul class="unstyled">
            <li>
                <p><b>{% trans "Client ID" %}</b></p>
                <p><pre>{{ application.client_id }}</pre></p>
            </li>

            <li>
                <p><b>{% trans "Client Secret" %}</b></p>
                <p><pre>{{ application.client_secret }}</pre></p>
            </li>

            <li>
                <p><b>{% trans "Client Type" %}</b></p>
                <p><pre>{{ application.client_type }}</pre></p>
            </li>
            
            <li>
                <p><b>{% trans "Grant Type" %}</b></p>
                <p><pre>{{ application.authorization_grant_type }}</pre></p>
            </li>

            <li>
                <p><b>{% trans "Scopes" %}</b></p> 
                {% for s in application.scope.all %}
                    <pre>{{ s.slug }}</pre>
                {% endfor %}
            </li>

            <li>
                <p><b>{% trans "Scope Detail By Tag" %}</b></p>
                {% for s in application.scope.all %}
                <p>Tag: <strong>{{ s.slug }}</strong></p>
                <p><pre>{{ s.protected_resources }}</pre></p>
                {% endfor %}
            </li>


            <li>
                <p><b>{% trans "Redirect Uris" %}</b></p>
                <pre>{{ application.redirect_uris }}</pre>
            </li>
        </ul>

        <div class="btn-toolbar">
            <a class="btn" href="{% url "oauth2_provider:list" %}">{% trans "Go Back" %}</a>
            <a class="btn btn-primary" href="{% url "oauth2_provider:update" application.id %}">{% trans "Edit" %}</a>
            <a class="btn btn-danger" href="{% url "oauth2_provider:delete" application.id %}">{% trans "Delete" %}</a>
        </div>
    </div>
{% endblock content %}
