{% extends "oauth2_provider/base.html" %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'design-system/css/mpn.css' %} type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>



{% endblock %}

{% load i18n %}
{% load bootstrap %}

{% block content %}

    <!-- Adding include here  -->
    {% include settings.OAUTH2_AUTHORIZATION_FORM %}
    <!-- end of include -->

{% endblock %}

{% block ExtraJSFoot %}
	    <script>
mpnData = { "hipaa": { "protected": "No" }, "use": { "scientificResearch": true, "primaryService": true, "marketing": true }, "share": {}, "sell": {}, "store": {}, "encryption": {}, "privacy": {}, "user": {}, "deactivation": {}, "policy": {}, "breach": {}, "contact": { "name": "xvdsvfsdgdsfgds" } } 
</script>
    
    <script src="{% static '/js/TransparentHealth-mpnDisplay.min.js' %}"></script>
{% endblock %}
 