// Import Bootstrap
@import 'partials/sandbox/bootstrap';

// Global Imports
@import 'partials/global/global-master';

// Static Site Imports
@import 'partials/static/legacy';

// Sandbox Imports
@import 'partials/sandbox/sandbox-login';
@import 'partials/sandbox/sandbox-global';

@import 'partials/sandbox/bene-auth-consent-view';

// Testing legacy styles (must be removed later)
.main-nav {
   ul {
    list-style-type: none;
     li {
      display: inline-block;
      margin-left: 30px;
       a {
        color: $color-gray-dark;
        text-decoration: none;
      }
    }
  }
}
 .other-main-nav {
  ul {
    list-style-type: none;
     li {
      display: inline-block;
      a {
        color: $color-gray-dark;
        text-decoration: none;
        font-size: 26px;
      }
    }
  }
}
 @media only screen and (max-width: 544px) {
  .main-nav {
    display: none;
  }
}
 @media only screen and (min-width: 545px) and (max-width: 951px ) {
  .ctas {
    width: 700px;
    }
}
 @media only screen and (min-width: 544px) and (max-width: 738px ) {
  .main-nav {
    font-size: 14px;
  }
}

//
// Mobile nav
//
.mobile-nav-trigger {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-weight: bold;
  text-decoration: none;
}
 .mobile-nav-tray {
  position: fixed;
  top: 100%;
  height: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.5s ease;
   .mobile-nav ul li a {
    color: $color-gray-dark;
    text-decoration: none;
  }
}
 .mobile-nav-tray-expanded {
  top: 0;
  height: 100%;
  transition: all 0.5s ease;
}
