{% extends "base.html" %}
{% load i18n %}

<!-- Ignore Banner Code -->
{% block banner %}{% endblock %}

{% block messages %}

{% endblock %}

{% block Content %}
<div class="sandbox-gradient-bg">
	<div class="gradient-content-container">
		<h1>Sample API Call</h1>
		<p>Below is a sample call for an application to allow a beneficiary to log in with their MyMedicare credentials and authorize access to their data.</p>

		{% if api_ver is not None %}
		<h2><strong>API version: {{ api_ver }}</strong></h2>
		{% endif %}

		<!-- Content Card -->
		<div class="gradient-content-card">
			<div class="content">
				<h2>Authorization Link</h2>
				<pre>{{authorization_url}}</pre>
				<div class="ds-c-alert ds-c-alert--hide-icon ds-u-margin-top--2">
					<div class="ds-c-alert__body">
						<h3 class="ds-c-alert__heading">You'll need sample beneficiary credentials to log in</h3>
						<p class="ds-c-alert__text ds-u-color--base">
						The first user is <strong>BBUser00000</strong> with password <strong>PW00000!</strong> and these sample users continue all the way to <strong>BBUser29999</strong> with password <strong>PW29999!</strong> 
						<br />
						<i>Note: the ! at the end of the password is required</i>
						</p>
					</div>
				</div>
			</div>
			<div class="action-container">
				<a href="{{authorization_url}}" class="ds-c-button ds-c-button--primary">Authorize as a Beneficiary</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

