{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block bannerBackButton %}{% endblock %}

{% block bannerTitle %}
API Test Client
{% endblock %}

{% block bannerDescription %}
{% endblock %}

{% block bannerCallToActionButtons %}
{% endblock %}

{% block Content %}


<div class="container">
  <div class="ds-l-row ds-u-justify-content--center ds-u-margin-y--4">
    <div class="ds-l-lg-col--11 ds-l-md-col--11 ds-l-sm-col--12">
      {% include "include/messages.html" %}

      <h2>Launch the thing</h2>

			<a class="ds-c-button ds-u-margin-y--2 ds-c-button--primary" href="{{authorization_url}}">Get a Sample Token</a>

      </div>
    </div>
  </div>
{% endblock %}
