services:
  ####################
  # Postgres database
  # Pin to the version of Postgres that is 
  # equivalent to production.
  db:
    image: postgres:16
    env_file:
      - .env.local
    ports:
      - "5432:5432"
  ####################
  # Local MSLS server
  # A small Flask app for testing.
  msls:
    image: msls-local:latest
    platform: linux/amd64
    command: /code/start-local.sh
    ports:
      - "8080:8080"
    volumes:
      - ../msls-local:/code
  ####################
  # Blue Button
  web:
    image: bb-local:latest
    platform: linux/amd64
    command: /code/dev-local/start-local.sh
    env_file:
      - .env.container
    volumes:
      - ..:/code
      - ~/.bb2/certstore:/certstore
    ports:
      - "8000:8000"
      - "5678:5678"
    depends_on:
      - db
      - msls
      - metabase
  metabase:
    image: metabase/metabase:latest
    volumes:
      - ${PWD}/data:/data
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: bluebutton
      MB_DB_PORT: 5432
      MB_DB_USER: postgres
      MB_DB_PASS: toor
      MB_DB_HOST: db
    healthcheck:
      test: curl --fail -I http://localhost:3000/api/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5