services:
  ####################
  # Postgres database
  # Pin to the version of Postgres that is 
  # equivalent to production.
  db:
    image: postgres:16
    env_file:
      - .env.local
    ports:
      - "5432:5432"
  ####################
  # Local MSLS server
  # A small Flask app for testing.
  msls:
    image: msls-local:latest
    platform: linux/amd64
    command: /code/start-local.sh
    ports:
      - "8080:8080"
    volumes:
      - ../msls-local:/code
  ####################
  # Blue Button
  web:
    image: bb-local:latest
    platform: linux/amd64
    command: /code/dev-local/start-local.sh
    read_only: true
    env_file:
      - .env.container
    volumes:
      - type: bind
        source: ..
        target: /code
        read_only: true
      - type: bind
        source: ~/.bb2/certstore
        target: /certstore
        read_only: true
    ports:
      - "8000:8000"
      - "5678:5678"
    depends_on:
      - db
      - msls

  s3mock:
    image: adobe/s3mock:latest
    environment:
      - debug=false
      - COM_ADOBE_TESTING_S3MOCK_STORE_INITIAL_BUCKETS=django
      - COM_ADOBE_TESTING_S3MOCK_STORE_RETAIN_FILES_ON_EXIT=true
      - COM_ADOBE_TESTING_S3MOCK_STORE_ROOT=/s3
    volumes:
      - ./local-s3:/s3
    ports:
      - 9090:9090