# Generic
*.pyc
*.komodoproject
*~
.cache/

# Django
/_start/settings/local.py
local.py
collectedstatic/

# Testing
.tox/

# Database
*.db
db.sqlite3

# System
.DS_Store
/_start/app-email-messages/

/hhs_oauth_server/settings/local.py
.idea/
apps/__pycache__/
apps/accounts/__pycache__/
apps/accounts/migrations/__pycache__/
apps/accounts/tests/__pycache__/
apps/accounts/views/__pycache__/
apps/api/__pycache__/
apps/capabilities/__pycache__/
apps/capabilities/migrations/__pycache__/
apps/cmsblue/__pycache__/
apps/core/__pycache__/
apps/core/management/__pycache__/
apps/core/management/commands/__pycache__/
apps/dot_ext/__pycache__/
apps/dot_ext/migrations/__pycache__/
apps/dot_ext/tests/__pycache__/
apps/dot_ext/views/__pycache__/
apps/education/__pycache__/
apps/eimm/__pycache__/
apps/eimm/forms/__pycache__/
apps/eimm/migrations/__pycache__/
apps/eimm/templates/__pycache__/
apps/eimm/templates/eimm/__pycache__/
apps/endorse/__pycache__/
apps/endorse/migrations/__pycache__/
apps/fhir/__pycache__/
apps/fhir/bluebutton/__pycache__/
apps/fhir/bluebutton/fixtures/__pycache__/
apps/fhir/bluebutton/migrations/__pycache__/
apps/fhir/bluebutton/tests/__pycache__/
apps/fhir/bluebutton/views/__pycache__/
apps/fhir/core/__pycache__/
apps/fhir/core/fixtures/__pycache__/
apps/fhir/core/tests/__pycache__/
apps/fhir/server/__pycache__/
apps/fhir/server/migrations/__pycache__/
apps/fhir/server/tests/__pycache__/
apps/fhir/server/views/__pycache__/
apps/fhir/tests/__pycache__/
apps/home/__pycache__/
apps/home/templatetags/__pycache__/
apps/nppes_handler/__pycache__/
hhs_oauth_server/__pycache__/
hhs_oauth_server/settings/__pycache__/
