language: python
python:
  - "3.5"

sudo: false

env:
  - TOX_ENV=py27
  - TOX_ENV=py34
  - TOX_ENV=py35
  - TOX_ENV=flake8

matrix:
  fast_finish: true

install:
  - pip install tox
  - pip install coveralls

script:
  - tox -e $TOX_ENV
