.ctas {
    display: flex
}
@media (min-width:0px) and (max-width:639px) {
    .ctas {
      flex-direction: column
    }
}
.ctas .cta-button {
    background: 0 0;
    font-size: .9rem;
    text-transform: uppercase;
    margin-right: 1rem;
    border-radius: .3rem;
    border: 3px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 700;
    text-decoration: none;
    outline-color: red;
    transition: background 180ms ease,color 180ms ease
}
@media (min-width:0px) and (max-width:400px) {
    .ctas .cta-button {
      align-items: center;
      justify-content: center;
      font-size: .8rem;
      margin-right: 0;
      text-align: center
    }
}
.ctas .cta-button:focus,
.ctas .cta-button:hover {
    background: #fff;
    color: #0071bc
}
.ctas {
    fill: none;
    margin-left: 1rem
}
@media (min-width:0px) and (max-width:400px) {
.ctas {
      display: none
    }
}
  
.ds-c-button--danger {
    background-color: #e31c3d;
    border-color: #e31c3d;
    color: #fff
}
.ds-c-button--danger:focus,
.ds-c-button--danger:hover {
    background-color: #cd2026;
    border-color: #cd2026;
    color: #fff
}
.ds-c-button--danger:active {
    background-color: #981b1e;
    border-color: #981b1e
}
.ds-c-button--success {
    background-color: #2e8540;
    border-color: #2e8540;
    color: #fff
}
.ds-c-button--success:focus,
.ds-c-button--success:hover {
    background-color: #2a7a3b;
    border-color: #2a7a3b;
    color: #fff
}
.ds-c-button--success:active {
    background-color: #266e35;
    border-color: #266e35
}
.ds-c-choice {
    left: -999em;
    opacity: 0;
    position: absolute
}
.ds-c-choice__checkedChild {
    border-left: 4px solid #0071bc;
    margin-bottom: 16px;
    margin-left: 14px;
    padding: 16px
}
.ds-c-choice__checkedChild--inverse {
    border-left-color: #fff
}
.ds-c-choice__checkedChild--small {
    margin-left: 8px
}
.ds-c-choice + label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    margin: 8px 0;
    max-width: 31em;
    min-height: 32px;
    padding-left: 40px;
    position: relative
}
.ds-c-choice + label::before {
    background-color: #fff;
    border: 2px solid #212121;
    box-sizing: border-box;
    content: '\a0';
    height: 32px;
    left: 0;
    line-height: 32px;
    position: absolute;
    text-indent: .15em;
    top: 0;
    width: 32px
}
.ds-c-choice--inverse + label::before {
    background-color: #112e51;
    border-color: #fff
}
.ds-c-choice:focus + label::before {
    box-shadow: 0 0 0 2px #fff,0 0 2px 4px #3e94cf
}
.ds-c-choice--inverse:focus + label::before {
    box-shadow: 0 0 0 2px #112e51,0 0 2px 4px #59bcff
}
.ds-c-choice:checked + label::before {
    background-color: #0071bc;
    background-image: url(./images/checkmark-white.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 24px;
    border-color: #0071bc
}
.ds-c-choice:disabled + label {
    color: #5b616b
}
.ds-c-choice:disabled + label::before {
    background-color: #d6d7d9;
    border: 1px solid #aeb0b5;
    cursor: not-allowed
}
.ds-c-choice--inverse:disabled + label {
    color: #bac5cf
}
.ds-c-choice--inverse:disabled + label::before {
    background-color: rgba(186,197,207,.15);
    box-shadow: 0 0 0 1px #bac5cf
}
.ds-c-choice[type=radio] + label::before {
    border-radius: 100%
}
.ds-c-choice--right + label {
    padding-left: 0;
    padding-right: 40px
}
.ds-c-choice--right + label::before {
    left: auto;
    right: 0
}
.ds-c-choice--small + label {
    min-height: 20px;
    padding-left: 28px;
    padding-top: 0
}
.ds-c-choice--small + label::before {
    height: 20px;
    top: 2px;
    width: 20px
}
.ds-c-choice--small:checked + label::before {
    background-size: 20px
}
.ds-c-choice--small.ds-c-choice--right + label {
    padding-left: 0;
    padding-right: 28px
}
.ds-c-field__hint {
    color: #5b616b;
    display: block;
    font-weight: 400
}
.ds-c-field__hint--inverse {
    color: #bac5cf
}
.ds-c-choice + label .ds-c-field__hint {
    flex-basis: 100%
}