openapi: 3.0.2
info:
  title: BlueButton 2.0
  version: 1.0.0
  description: "In order to try out the API you'll first need to get an access token and use it in the Authorize -> bearerAuth setting. To get one you can use the [test client](https://sandbox.bluebutton.cms.gov/testclient/), [postman](https://bluebutton.cms.gov/developers/#try-the-api), or your own local setup." 
paths:
  /v1/connect/userinfo:
    get:
      operationId: listopenidconnect_userinfos
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v1
  '/v1/fhir/Patient/{resource_id}':
    get:
      operationId: listReadViewPatients
      description: ''
      parameters:
        - name: resource_id
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v1
  /v1/fhir/Patient/:
    get:
      operationId: listSearchViewPatients
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v1
  '/v1/fhir/Coverage/{resource_id}':
    get:
      operationId: listReadViewCoverages
      description: ''
      parameters:
        - name: resource_id
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v1
  /v1/fhir/Coverage/:
    get:
      operationId: listSearchViewCoverages
      description: ''
      parameters:
        - in: query
          name: beneficiary
          schema:
            type: integer
          required: false
          description: fhir id to return results for
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v1
  '/v1/fhir/ExplanationOfBenefit/{resource_id}':
    get:
      operationId: listReadViewExplanationOfBenefits
      description: ''
      parameters:
        - name: resource_id
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v1
  /v1/fhir/ExplanationOfBenefit/:
    get:
      operationId: listSearchViewExplanationOfBenefits
      description: ''
      parameters:
        - in: query
          name: patient
          schema:
            type: integer
          required: false
          description: fhir id to return results for
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v1
  /v2/connect/userinfo:
    get:
      operationId: listopenidconnect_userinfos_v2
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v2
  '/v2/fhir/Patient/{resource_id}':
    get:
      operationId: listReadViewPatients_v2
      description: ''
      parameters:
        - name: resource_id
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v2
  /v2/fhir/Patient/:
    get:
      operationId: listSearchViewPatients_v2
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v2
  '/v2/fhir/Coverage/{resource_id}':
    get:
      operationId: listReadViewCoverages_v2
      description: ''
      parameters:
        - name: resource_id
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v2
  /v2/fhir/Coverage/:
    get:
      operationId: listSearchViewCoverages_v2
      description: ''
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v2
  '/v2/fhir/ExplanationOfBenefit/{resource_id}':
    get:
      operationId: listReadViewExplanationOfBenefits_v2
      description: ''
      parameters:
        - name: resource_id
          in: path
          required: true
          description: ''
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v2
  /v2/fhir/ExplanationOfBenefit/:
    get:
      operationId: listSearchViewExplanationOfBenefits_v2
      description: ''
      parameters:
        - in: query
          name: patient
          schema:
            type: integer
          required: false
          description: fhir id to return results for
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items: {}
            application/fhir+json:
              schema:
                type: array
                items: {}
          description: ''
      tags:
        - v2
components:
  securitySchemes:
      bearerAuth:            # arbitrary name for the security scheme
        type: http
        scheme: bearer
          
  schemas: {}
servers:
  - url: 'https://sandbox.bluebutton.cms.gov/'
    variables: {}
security:
    - bearerAuth: []
