{% extends "base.html" %}
{% load i18n %}

{% block Content %}
<h1>Reset your Password</h1>

<form action="/accounts/reset-password/{{reset_password_key}}/" method="POST" class="tw-form">
    {% if error %}
        <p class="error">ERROR: {{error}}</p>
    {% endif %}


    {% if form.errors %}
      <p class="error">Please correct the errors below.</p>
    {% endif %}

    {{ form.as_p }}

    {% csrf_token %}
    <input type="submit" value="Reset Password" class="button" />
</form>

{% endblock %}