{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block pretitle %}Welcome to the {% endblock %}
{% block title %}{{ settings.APPLICATION_TITLE }} BB Connect{% endblock %}
{% block extra_head %}
{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li>Home</li>
            <li><a href="{% url 'eimm:home' %}">BB Connect</a></li>

        </ul>
    </div>
{% endblock %}
{% block pagename %}{{ settings.APPLICATION_TITLE }} | BB Connect{% endblock %}
{% block content %}

    <div class="hero-unit">
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                {% if user.is_authenticated %}
                        <div class="jumbotron">
                            <H4>Test MyMedicare.gov access
                                <a href="{% url 'eimm:connect' %}">here</a>
                            </H4>
                       </div>
                    {% if my_account %}
                        <h4>{{ my_name|safe }}</h4>
                        {{ my_account|safe }}

                {% endif %}

                {% else %}
                            <div class="jumbotron">
                                <H4>Connect your MyMedicare.gov account
                                    <a href="{% url 'eimm:connect' %}">here</a>
                                </H4>
                                <i class="fa fa-unlock fa-2x" style="color:green"></i><a href="{% url "subaccount:subacc_login" %}?next=/api"><input
                                        type="button"
                                        class="active btn btn-large btn-success"
                                        value="{% trans "Sub-Account Login" %}"/>
                                </a>
                            </div>
                {% endif %}

                </div>

                <div class="col-md-4"><img
                                src="{% static 'img/layout/blue-button.png' %}"
                                style="height:300px">
                </div>
                </div>

                <div class="row">
                    <div class="col-md-8">


                    </div>
                </div>


        </div>
    </div>


{% endblock %}
