{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Medicare Blue Button Connector" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="active">Medicare Connector</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Medicare Blue Button Connector{% endblock %}
{% block Content %}
      <div class="container">

      <div class="row">
         <div class="col-lg-8">
           {% include "include/messages.html" %}
         </div>
       </div>


      <div class="hero-unit">
      <h2>{% trans "MyMedicare.gov Blue Button Connector" %}</h2>
    <br>

      <div class="row">
      <div class="span7 center">
        <form class="well" method="post" action="">
          {% csrf_token %}
        <p>In this next step we will link your Medicare account to
            the CMS Blue Button API.<br/>To make the link we must take a
            one-time snapshot of your current Blue Button file.<br/>
            This requires you to enter your&nbsp;
            <a href="https://www.mymedicare.gov" target="_blank">
                MyMedicare.gov</a> Username and Password in the form below.
            <br/>
            <i>Your password is not stored.</i>
        </p>
           <table>
          {% load bootstrap %}
          {{ form|bootstrap }}
           </table>
        <p>
         By clicking <b>"Connect"</b> you are agreeing to allow the CMS Blue Button
            API to connect to your MyMedicare.gov account to perform a
            one-time download of your Blue Button file. This is necessary
            so that we can identify your records in our new Blue Button system.
            <br/>
            The process will take a few minutes to download your Medicare
            Blue Button file and analyze it to find your claims data.<br/>
            it will then use the claims numbers to find matching claims
            in the CMS Blue Button API.<br/>
            Once a link is made you will be able to connect health
            applications and research trials to your health data quickly and
            easily.<br/>
            <br/>
            If you do not want to connect with MyMedicare.gov please select
            the <b>Cancel</b> button.
        </p>
        <p>
            <input type="submit" class="active btn btn-large btn-success"
                   name="login" value="{% trans 'Connect' %}"/>

            <a href="{% url "home" %}"><input
                                type="button" class="btn-danger"
                                value="Cancel"/></a>

        </p>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
        </div>
    </div>


{% endblock %}
