{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load engine_skin %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} Notices {% endblock %}
{% block Content %}


<div class="ds-col-l-12">

     <h1>Notices</h1>
      <h2 class="usa-font-lead" style="align-content: center">The Transmitted Copy is Under Someone Else's Control</h2>
      <hr class="my-4">
      <p class="usa-font-lead">Once you approve sharing of your personally identifiable health information,
      a copy of your data will be transmitted to your selected third party. Whether or not your data
      appears on your device, that third party has control over your transmitted data. Whatever
      control you may have over your transmitted data must pass through your selected third party.</p>

      <p class="usa-font-lead" style="align-content: center">Once a copy is successfully transmitted to your
      designated third party, CMS and CMS Blue Button have no control over and are NOT RESPONIBLE for any risks
      to, or incidents involving that copy.</p>

      <p class="usa-font-lead" style="align-content: center">The Copy or Copies you Authorize Us to Transmit
      May Not Be Safe After Transmission.</p>

      <p class="usa-font-lead" style="align-content: center">You can use your MyMedicare.gov application dashboard to
      revoke access to any new information but this does not prevent the third party from using information you previously
      gave them permission to receive.</p>

      <p class="usa-font-lead">
          <a href="javascript:history.go(-1)">
              <button type="button" class="usa-button usa-button usa-button-primary"> <i class="fa fa-chevron-circle-left"></i>  Go Back to Previous Page
              </button>
          </a>
      </p>

</div>


{% endblock %}
