{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load engine_skin %}
{% block extrahead %}
    <script src="{% skin_static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Help with CMS Blue Button API" %}{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>

        <li class="active">Help</li>
        </ul>
{% endblock %}
{% block pagename %}Help with CMS Blue Button API{% endblock %}

{% block Content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="ds-col-md-8 ds-col-sm-12">

                <h1 class="ds-h1">Blue Button Help</h1>

                 <p>To use the Blue Button APi you need an account on
                     <a href="http://www.mymedicare.gov">MyMedicare.gov</a>.
                 </p>
                 <br/>
                 <p>We take security seriously so you must choose to link the
                     Blue Button API to your MyMedicare account. Once you have made
                     the connection you can then choose to connect any of a growing
                     library of personal health applications which can help you
                     manage your health more easily.
                 </p>
                 <br/>
                 <p>The Blue Button API is built using the latest health care standard,
                    FHIR, Fast Health Care Interoperability Resources, pronounced "Fire."
                     That means that new applications are being developed that can understand
                     your data. This makes it easier for you to share your information
                     with the applications, services or research programs you trust.
                     All under your control.
                </p>
                <br/>

            </div>
            <div class="ds-col-md-4 ds-col-sm-12">
                <img src="{% skin_static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="ds-col-md-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}