<!-- App Form Requred Info -->
<h2>App Details - Required Info</h2>

<!-- App Name -->
<label for="id_name">Application Name</label>
<input type="text" name="name" maxlength="255" required="" id="id_name" value="{{ application.name }}">

<!-- App Client Type -->
<label for="id_client_type">OAuth - Client Type</label>
<select name="client_type" required="" id="id_client_type">
	<option value="">---------</option>
	{% if application.client_type == "public" %}
	<option value="confidential">Confidential</option>
	<option value="public" selected>Public</option>
	{% else %}
	<option value="confidential" selected>Confidential</option>
	<option value="public">Public</option>
	{% endif %}
</select>

<!-- App Grant Type -->
<label for="id_authorization_grant_type">Authorization Grant Type*</label>
<select name="authorization_grant_type" id="id_authorization_grant_type">
	{% if application.authorization_grant_type == "implicit" %}
	<option value="authorization-code">Authorization code</option>
	<option value="implicit" selected>Implicit</option>
	{% else %}
	<option value="authorization-code" selected>Authorization code</option>
	<option value="implicit">Implicit</option>
	{% endif %}
</select>

<!-- App Redirect URIs -->
<label for="id_redirect_uris">Callback URLs / Redirect URIs</label>
<textarea name="redirect_uris" cols="40" rows="10" id="id_redirect_uris">{{ application.redirect_uris }}</textarea>