<!-- App Form Requred Info -->
<h2>App Details - Required Info</h2>

<!-- App Name -->
<label for="id_name">Application Name</label>
<input type="text" name="name" maxlength="255" required="" id="id_name" value="{{ application.name }}" autocomplete="turn_autocomplete_off">

<!-- App Redirect URIs -->
<label for="id_redirect_uris">Callback URLs / Redirect URIs</label>
<textarea name="redirect_uris" cols="40" rows="10" id="id_redirect_uris">{{ application.redirect_uris }}</textarea>

<!-- Demographic Filter -->
<fieldset class="ds-c-fieldset">
	<legend class="ds-u-font-weight--bold">
		Does your application need to collect beneficiary demographic information (Name, address, date of birth, race, and gender)?
	</legend>
	<input class="ds-c-choice" id="id_demographic_filter_on" type="radio" name="require_demographic_scopes" value="True" 
            {% if application.require_demographic_scopes == True %} 
                checked
            {% endif %} 
        >
	<label for="id_demographic_filter_on">
		Yes
	</label>
	<input class="ds-c-choice" id="id_demographic_filter_off" type="radio" name="require_demographic_scopes" value="False"
            {% if application.require_demographic_scopes == False %} 
                checked
            {% endif %} 
        >
	<label for="id_demographic_filter_off">
		No
	</label>
</fieldset>
