<!-- App Form Requred Info -->
<h2>App Details - Required Info</h2>

<!-- App Name -->
<label for="id_name">Application Name</label>
<input type="text" name="name" maxlength="255" required="" id="id_name" value="{{ application.name }}" autocomplete="turn_autocomplete_off">

<!-- App Client Type -->
<label for="id_client_type">OAuth - Client Type</label>
<select name="client_type" required="" id="id_client_type">
	<option value="">---------</option>
	<option value="confidential" {% if application.client_type != "public" %} selected {% endif %}>Confidential</option>
	<option value="public" {% if application.client_type == "public" %} selected {% endif %}>Public</option>
</select>

<!-- App Grant Type -->
<label for="id_authorization_grant_type">Authorization Grant Type*</label>
<select name="authorization_grant_type" id="id_authorization_grant_type">
	<option value="authorization-code" {% if application.authorization_grant_type != "implicit" %} selected {% endif %}>Authorization code</option>
	<option value="implicit" {% if application.authorization_grant_type == "implicit" %} selected {% endif %}>Implicit</option>
</select>

<!-- App Redirect URIs -->
<label for="id_redirect_uris">Callback URLs / Redirect URIs</label>
<textarea name="redirect_uris" cols="40" rows="10" id="id_redirect_uris">{{ application.redirect_uris }}</textarea>

<!-- Demographic Filter -->
<fieldset class="ds-c-fieldset">
	<legend class="ds-u-font-weight--bold">
		Does your application need to collect beneficary demographic information (Name, address, date of birth, race, and gender)?
	</legend>
	<input class="ds-c-choice" id="id_demographic_filter_on" type="radio" name="demographic-filter" value="id_demographic_filter_on" checked="">
	<label for="id_demographic_filter_on">
		Yes
	</label>
	<input class="ds-c-choice" id="id_demographic_filter_off" type="radio" name="demographic-filter" value="id_demographic_filter_off">
	<label for="id_demographic_filter_off">
		No
	</label>
</fieldset>
