<div class="container-fluid">

    <div class="footer-wrapper">
<hr>
        <div class="row text-center" >

                <div>
                    <small><em>This software was created for HHS and CMS in a joint initiative by:</em></small>
                </div>
                <div>
                    <small>
                   <a href="http://go.cms.gov/bluebutton" title="CMS BlueButton Team" target="_blank">CMS BlueButton Team</a>,&nbsp;

                   <a href="http://www.videntity.com" title="Videntity" target="_blank">Videntity</a> and&nbsp;

                   <a href="http://www.healthit.gov" title="HealthIT.gov" target="_blank">HealthIT.gov</a>.</small>
                </div>
                <div>
                   <small>&copy; 2015-2016</small>
                </div>
            </div>
        
        
  </div>
</div><!-- /.container-fluid -->