<div class="container-fluid">

    <div class="footer-wrapper">
<hr>
        <div class="row text-center" >
            <div class="col-lg-3 col-sm-4">

            </div>
            <div class="col-lg-6 col-sm-8">
                <div>
                    <small><em>This software was created for HHS and CMS in a joint initiative by:</em></small>
                </div>
                <div>
                    <small>
                   <a href="http://go.cms.gov/bluebutton" title="CMS BlueButton Team" target="_blank">CMS BlueButton Team</a>,&nbsp;

                   <a href="http://www.videntity.com" title="Videntity" target="_blank">Videntity</a> and&nbsp;

                   <a href="http://www.healthit.gov" title="HealthIT.gov" target="_blank">HealthIT.gov</a>.</small>
                </div>
                <div>
                   <small>&copy; 2015-2016</small>
                </div>
            </div>
            <div class="col-lg-3  col-sm-4">
                <small>Built with&nbsp;  <a href="http://bootstrap.com" title="Bootstrap" target="_blank">Bootstrap </a> and
                the <a href="http://bootswatch.com/{{ settings.THEME.NAME|lower }}" title="Bootswatch" target="_blank">
                {{ settings.THEME.NAME }} Bootswatch theme</a>.</small>
            </div>
        
        </div>
  </div>
</div><!-- /.container-fluid -->