<div class="container-fluid">

    <div class="footer-wrapper">
<hr>
        <div class="row text-center" >

                <div>
                    <small>
                        This OAuth2/FHIR Server was created by 
                         <em><a href="http://transparenthealth.org" target="_blank">TransparentHealth</a> for the
                         <a href="http://www.healthit.gov" title="HealthIT.gov" target="_blank">ONC</a> and later
                         adapted for use by<a href="http://go.cms.gov/bluebutton" title="CMS Blue Button Team" target="_blank"> CMS</a>.
                         
                    </small>
                </div>
            

                
                <div>
                   <small>&copy; 2015-2017 TransparentHealth </small>
                </div>
        </div>
        
       <div><small>{% if settings.ALLOWED_HOSTS %}{{ settings.ALLOWED_HOSTS|last }}{% endif %}</small></div>
  </div>
</div><!-- /.container-fluid -->