{% load staticfiles %}
    <!-- JavaScript -->
    <!-- This file is loaded by base.html after footer.html. It is used to load
         javascript files at the bottom of the file just before the closing </body> tag
         for speed of page loading -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


