{% load i18n %}
{% load static %}
{% load has_group %}
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="{% url 'home' %}" contenteditable="false"
            class="navbar-brand"
            style="vertical-align:top;max-height:100%;max-width:100%">
            <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                 style="vertical-align:text-top;max-height:100%;max-width:100%"></a>
        <a href="{% url 'home' %}" contenteditable="false"
           class="navbar-brand"
           alt="{{ settings.APPLICATION_TITLE }}">
                <strong>{{ settings.APPLICATION_TITLE }}</strong>
        </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

          <ul class="nav navbar-nav ">
              {% if not user.is_authenticated %}
                  <li class="dropdown" id="menu1">
                <a href="#" class="btn dropdown-toggle"
                   data-toggle="dropdown"><i class="fa fa-question-circle"></i> Help<span
                        class="caret"></span></a>
                      <ul class="dropdown-menu" id="menu1" role="menu">
                        <li><a href="/education/learn/0/" class="">Learn more...</a>
                        </li>

                        {# TODO: Create /accounts/documentation page  #}
                        <li><a href="/api/documentation" class="">Documentation</a>
                        </li>
                    {# TODO: /accounts/support page  #}
                        <li><a href="/support" class="">Support</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/api/developer_intro"
                               class="" contenteditable="false">Developer Intro</a>
                        </li>

               </ul>
            </li>
              {% endif %}
          </ul>


          <ul class="nav navbar-nav navbar-right">

            {% if user.is_authenticated %}


             <li class="dropdown" id="menu2">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
              <ul class="dropdown-menu" id="menu2" role="menu">


                <li><a href="{% url 'account_settings' %}"> <i class="fa fa-gears"></i> Account Settings</a></li>
               	 <li><a href="{% url 'oauth2_provider:authorized-token-list' %}"> <i class="fa fa-legal"></i>  Applications You Have Given Access To</a>
		           <li><a href="{% url 'oauth2_provider:list' %}">  <i class="fa fa-key"></i> Applications You Have Created</a>


                <li><a href="{% url 'mylogout' %}">  <i class="fa fa-sign-out"></i>  Logout</a></li>

              </ul>
            </li>
             {% else %}
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'login' %}"> <i class="fa fa-sign-in"></i>  Login</a></li>
                <li><a href="{% url 'request_invite' %}"><i class="fa fa-commenting-o"></i> Request an Invite</a></li>
                <li><a href="{% url 'accounts_create' %}"> <i class="fa fa-user"></i> Create an Account</a></li>
                <li><a href="{% url 'forgot_password' %}"><i class="fa fa-question-circle"></i> Forgot Password</a></li>

              </ul>
            </li>

              {% endif %}

         {% if user.is_authenticated %}
               <li><a href="/accounts/logout"><i class="fa fa-sign-out"></i></a></li>
          {% else %}
             <li><a href="/accounts/login"><i class="fa fa-sign-in"></i></a></li>
            {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
