{% load i18n %}
{% load static %}
<!-- Header -->
<header id="site-top">
  <!-- Desktop Navigation -->
  <div class="ds-c-desktop-nav sandbox-colors">
    <!-- Logo Link Container -->
    <a class="logo-link-container" href="/">
      <!-- Arrow Icon -->
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17" stroke="white"/>
        <circle cx="17.5002" cy="17.5" r="15.1667" fill="white"/>
        <path d="M11.5 18.5H10V24.5H24.5V18.5H23V22.5H11.5V18.5Z" fill="#323A45"/>
        <path d="M17.5 19L12.5 14H16V7H19.5V14H22.5L17.5 19Z" fill="#323A45"/>
        <path d="M11.5 18.5H10V24.5H24.5V18.5H23V22.5H11.5V18.5Z" stroke="black"/>
        <path d="M17.5 19L12.5 14H16V7H19.5V14H22.5L17.5 19Z" stroke="black"/>
      </svg>
      <!-- Logo Text -->
      <div class="site-title">
        {{ settings.APPLICATION_TITLE }}
      </div>
    </a>
    <!-- Desktop navigation -->
    <nav class="desktop-nav-items">
      <a href="https://bluebutton.cms.gov/developers/">Documentation</a>
      <a href="https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api">Support</a>
      {% if 'apps.testclient' in settings.INSTALLED_APPS %}
      <a href="{% url 'test_links' %}">Test Client</a>
      {%  endif %}
      {% if user.is_authenticated %}
      <a class="button profile-button" href="{% url 'account_settings' %}"><i data-feather="user"></i>Profile</a>
      <a class="button logout-button" href="{% url 'logout' %}"><i data-feather="power"></i>Logout</a>
      {% else %}
      {% if 'apps.testclient' in settings.INSTALLED_APPS %}
      <a class="button login-button" href="{% url 'login' %}"><i data-feather="user"></i>Login</a>
      <a class="button signup-button" href="{% url 'accounts_create_account' %}"><i data-feather="plus"></i>Signup</a>
      {% else %}
        <a class="button" href="https://sandbox.bluebutton.cms.gov/v1/accounts/create">Signup</a>
      {%  endif %}
    {% endif %}
    </nav>
  </div>

  <!-- Mobile Navigation -->
  <div class="ds-c-mobile-nav sandbox-colors">
    <!-- Logo Link Container -->
    <a class="logo-link-container" href="/">
      <!-- Arrow Icon -->
      <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17" stroke="white"/>
        <circle cx="17.5002" cy="17.5" r="15.1667" fill="white"/>
        <path d="M11.5 18.5H10V24.5H24.5V18.5H23V22.5H11.5V18.5Z" fill="#323A45"/>
        <path d="M17.5 19L12.5 14H16V7H19.5V14H22.5L17.5 19Z" fill="#323A45"/>
        <path d="M11.5 18.5H10V24.5H24.5V18.5H23V22.5H11.5V18.5Z" stroke="black"/>
        <path d="M17.5 19L12.5 14H16V7H19.5V14H22.5L17.5 19Z" stroke="black"/>
      </svg>
      <!-- Logo Text -->
      <div class="site-title">
        {{ settings.APPLICATION_TITLE }}
      </div>
    </a>
    <!-- Mobile Nav Trigger Button -->
    <a class="mobile-nav-trigger-button" href="#">
      <span class="mobile-nav-trigger-text">Menu</span>
      <i class="mobile-nav-icon" data-feather="menu"></i>
    </a>
  </div>
  <!-- Mobile Nav Items -->
  <nav class="mobile-nav-items sandbox-colors">
    <!-- Items Appended Here by JS -->
  </nav>
</header>
