{% load i18n %}
{% load static %}
{% load has_group %}
<!-- Fixed navbar -->
<!-- &copy; 2015-2017 Videntity Systems, Inc.  --> 
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'home' %}" contenteditable="false"
            class="navbar-brand"
            style="vertical-align:top;max-height:100%;max-width:100%">
            <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                 style="vertical-align:text-top;max-height:100%;max-width:100%"></a>
        <a href="{% url 'home' %}" contenteditable="false"
           class="navbar-brand"
           alt="{{ settings.APPLICATION_TITLE }}">
                <strong>{{ settings.APPLICATION_TITLE }}</strong>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="inactive"><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question"></i>  Help <b class="caret"></b></a>
          <ul class="dropdown-menu">
						<li><a href="{{settings.POLICY_URI}}"><i class="fa fa-user-secret"></i> {{settings.POLICY_TITLE}}</a></li>
            <li><a href="{{settings.USER_DOCS_URI}}"><i class="fa fa-map"></i> {{settings.USER_DOCS_TITLE}}</a></li>
            <li><a href="{{settings.DEVELOPER_DOCS_URI}}"><i class="fa fa-gears"></i> {{settings.DEVELOPER_DOCS_TITLE}}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-gears"></i> API <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'bb_fhir_conformance' %}"> <i class="fa fa-fire"></i> FHIR<sup>&reg;</sup> Capability Statement</a></li>
                <li>{% if fhir_id == None %}<a href="{% url 'bb_fhir_read_or_update_or_delete' resource_type="Patient" id="0" %}{% else %}<a href="{% url 'bb_fhir_read_or_update_or_delete' resource_type="Patient" id=fhir_id %}{% endif %}/?_format=html"> <i class="fa fa-user-circle"></i> My Patient record</a></li>
                <li><a href="{% url 'bb_fhir_search' resource_type="Coverage" %}/?_format=html"> <i class="fa fa-umbrella"></i> My Coverage</a></li>
               <li><a href="{% url 'bb_fhir_search' resource_type="ExplanationOfBenefit" %}/?_format=html"> <i class="fa fa-file-text-o"></i> My FHIR<sup>&reg;</sup> ExplanationOfBenefit records</a></li>
             {% if "apps.sandbox" in active_apps %}
                <li class="divider"></li>
                  <li> &nbsp;&nbsp;<i class="fa fa-gears"></i> Sandbox </li>
            {% endif %}
            </ul>
        </li>
		

        {% endif %}
		
		
		{% if user.is_authenticated %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tasks"></i> Applications <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'oauth2_provider:authorized-token-list' %}"> <i class="fa fa-legal"></i> Applications You Have Granted Access</a>
		    <li><a href="{% url 'oauth2_provider:list' %}">  <i class="fa fa-key"></i> Applications You Created</a>

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i> Account [{{ user }}]<b class="caret"></b></a>
          <ul class="dropdown-menu">
			      {% if user.is_staff %}
						<li><a href="{% url 'bulk_user_codes' %}"> <i class="fa fa-envelope"></i> Create Bulk User Invites</a></li>
            {% endif%}
						<li><a href="{% url 'account_settings' %}"> <i class="fa fa-gears"></i> Settings</a></li>
            <li><a href="{% url 'mylogout' %}"><i class="fa fa-sign-out"></i> Logout </a></li>

          </ul>
        </li>

        {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Account <b class="caret"></b></a>
              <ul class="dropdown-menu">

                <li><a href="{% url 'mfa_login' %}"> <i class="fa fa-sign-in"></i>  Login</a></li>
                <li><a href="{% url 'forgot_password' %}"><i class="fa fa-question-circle"></i> Forgot Password</a></li>

                <li class="divider"></li>

                <li><a href="{% url 'request_invite' %}"><i class="fa fa-code"></i> Request an Invite</a></li>
                <li><a href="{% url 'accounts_create_account' %}"> <i class="fa fa-code"></i> Create an Account</a></li>

              </ul>
            </li>

        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'mylogout' %}">Logout <i class="fa fa-sign-out"></i></a></li>
        {% else %}
            <li><a href="{% url 'mfa_login' %}"><i class="fa fa-sign-in"></i> Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>