{% extends "base.html" %}
{% load i18n %}
{% block Content %}


    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">{{name}} <small>{{subname}}</small></h1>
        </div>

      </div>
	  
	  <div class="row">

        <div class="col-lg-12">
          * Required Fields
        </div>

      </div>
	  

      <div class="row">

        <div class="col-lg-12">
	  
	

  {% if additional_info %}
    <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>{%trans "Important" %}</h4>
    {{ additional_info }}
    </div>

  {% endif %}
 
<div class="row">
  
    <div class="col-lg-8">
      {% include "include/messages.html" %}
      
      <form class="well" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        
	{% load bootstrap %}
	{{ form|bootstrap }}
        
	<input type="submit" class="btn btn-success btn-large"  value="{% trans 'Continue' %}" /><br>
	<a href="javascript:history.go(-1)">{% trans "Go Back" %}</a>
      
      </form>
    </div>

        </div>

      </div>

    </div><!-- /.container -->

  

{% endblock %}


