{% extends "oauth2_provider/base.html" %}
{% load i18n %}

{% block bannerBackButton %}
  <a class="banner-back-button" href="/"><i data-feather="arrow-left"></i>Back to Dashboard</a>
{% endblock %}

{% block bannerTitle %}
  {{name}}
{% endblock %}

{% block bannerDescription %}{% endblock %}

{% block bannerCallToActionButtons %}{% endblock %}

{% block Content %}

<div class="container">
  <div class="ds-l-row ds-u-justify-content--center ds-u-margin-y--4">
    <div class="ds-l-lg-col--11 ds-l-md-col--11 ds-l-sm-col--12">
      <div class="bb-c-card bb-width--75 ds-u-padding--2 bb-raised-section">
        <div class="ds-u-margin-y--2">
          
          <!-- Password Section -->
          <h2>Password Management</h2>
          <a class="ds-c-button  ds-c-button--default ds-u-margin-bottom--4" href="{% url 'password_change' %}">
            Change Your Password
          </a>

          <h2>Additional Information</h2>

          <!-- Additional Information Section -->
          {% if additional_info %}
          <h2>Additional Information</h2>
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="ds-h4">{%trans "Important" %}</h4>
            {{ additional_info |safe }}
          </div>
          {% endif %}

          {% include "include/messages.html" %}

          <form class="well ds-u-margin-y--2" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
    
            {% load bootstrap %}
            {{ form|bootstrap }}
    
            <input type="submit" class="ds-c-button ds-c-button--primary ds-u-margin-y--2" value="{% trans 'Update Information' %}" /><br>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
