<html>
    <head>
        <title>{{ APPLICATION_TITLE }}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header">Developer Invite Request Received</h1>
              </div>
            </div>
            
             <div class="row">
              <div class="col-lg-12">
                 Just a heads up: {{ FIRST_NAME }} {{ LAST_NAME }} wants to join
                 the {{ APPLICATION_TITLE }} community as a {{ USER_TYPE }}.
                 His/her email is: {{ EMAIL }}
                </div>
              </div>
            
            <div class="row">
              <div class="col-lg-12">
                  <br/>
               - The {{APPLICATION_TITLE}} Team
              </div>
            </div>
        </div><!-- /.container -->  
    </body>
</html>
