<html>
    <head>
        <title>{{ APPLICATION_TITLE }}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header">Hi {{FIRST_NAME}} {{LAST_NAME}}</h1>
              </div>
            </div>
            
             <div class="row">
              <div class="col-lg-12">
               <p> Thanks for signing up for the {{ APPLICATION_TITLE }}. </p>
                <p>To complete your signup, follow this link:</p>
                <p><a href="{{ ACTIVATION_LINK }}">{{ ACTIVATION_LINK }}</a></p>
                
                <p>Some helpful tips:</p>
                <p>
                    <ul>
                        <li>Ask questions and give feedback in the {{ APPLICATION_TITLE }} Google Group
                        <a href="https://groups.google.com/forum/#!forum/developer-group-for-cms-blue-button-api">
                                https://groups.google.com/forum/#!forum/developer-group-for-cms-blue-button-api</a></li>
                        <li>Download the Django Client App to get started
                        <a href="https://github.com/cmsgov/bluebutton-sample-client-django">
                            https://github.com/cmsgov/bluebutton-sample-client-django</a></li>
                    </ul>
                </p>
                </div>
              </div>
            
            <div class="row">
              <div class="col-lg-12">
               <br/>
               <p>Thanks, </p>
               <p>The {{ APPLICATION_TITLE }} Team </p>
              </div>
            </div>
        </div><!-- /.container -->  
    </body>
</html>


