{% extends "base.html" %}
{% load i18n %}

{% block Content %}


  <div class="container">
    
      <div class="row">
         <div class="col-lg-8">
           {% include "include/messages.html" %}
         </div>
       </div>
    

      <div class="hero-unit">
      <h1>{% trans "Login" %}</h1>
    <br>
      
      <div class="row">
      <div class="span7 center">
        <form class="well" method="post" action="">
          {% csrf_token %}
          <table>
          
          {% load bootstrap %}
          {{ form|bootstrap }}
  
          </table>
          <input type="submit" class="btn-large btn-primary" value="{% trans 'Login' %}" />
        </form>
      </div>
    </div>
  
  <div class="row">
   <small><a href="{% url 'accounts_create_user' %}">
   {% trans "Create an Account " %}</a>{{account_request_text}} | 
   <a href="{% url 'request_user_invite' %}">{% trans "Get Invited" %}</a> |
   <a href="{% url 'forgot_password' %}">Forgot Password?</a></br>
   </br>
   <a href="{% url 'request_developer_invite' %}">
   {% trans "Get A Developer Invitation" %}</a> |
   <a href="{% url 'accounts_create_developer' %}">
   {% trans "Create a Developer Account " %}</a>

   </small>

    </div> 

    
{% endblock %}

