{% extends "base.html" %}
{% load i18n %}

{% block messages %}

<div class="row">
	<div class="col-lg-8">
		{% include "include/messages.html" %}
	</div>
</div>

{% endblock %}

{% block Content %}

<section class="ds-l-container preview__grid ds-u-margin-y--7 sandbox-login-container">
  <div class="ds-l-row ds-u-justify-content--center">
		<div class="ds-l-lg-col--6 ds-l-md-col--8 ds-l-sm-col--12">
			<div class="hero-unit">
				<!-- Title and Context Message -->
				<h1>{% trans "Blue Button 2.0 Sandbox Login" %} </h1>
				<p class="ds-u-font-size--small">Register applications, make sample API calls, manage tokens, and more.</p>
				<!-- Login Form -->
				<form class="well ds-u-margin-y--3" method="post" action="">
					{% csrf_token %}
					<table>
						{% load bootstrap %}
						{{ form|bootstrap }}
					</table>
					<input type="submit" class="ds-c-button  ds-c-button--primary" value="{% trans 'Login' %}" />
					<div class="ds-u-margin-top--2">
						<a href="{% url 'forgot_password' %}">Forgot Password?</a> |
						{% if settings.REQUIRE_INVITE_TO_REGISTER %}
							<a href="{% url 'request_invite' %}">{% trans "Request Invite" %}</a>
							{% else %}
								<a href="{% url 'accounts_create_account' %}"> {% trans "Create an Account "%}</a>
						{% endif %}
					</div>
				</form>
      </div>
			<!-- Usage Notice / Warning -->
			<div class="login-message-container">
				<div class="content">
					{{ settings.DISCLOSURE_TEXT }}
				</div>
			</div>
    </div>
  </div>
</section>

{% endblock %}

{% block ExtraJSFoot %}
    <script type="application/javascript">$("#id_email").focus();</script>
{% endblock %}
