{% extends "base.html" %}
{% load i18n %}


{% block messages %}



<div class="row">
    <div class="col-lg-8">
       {% include "include/messages.html" %}
    </div>
</div>


{% endblock %}

{% block Content %}

<section class="ds-l-container preview__grid">
    <div class="ds-l-row">
    <div class="ds-l-col--3"></div>
  </div>
    
      <div class="ds-l-row ds-u-justify-content--center">
    <div class="ds-l-col--6">
    <div class="ds-c-alert ds-u-measure--wide">
  <div class="ds-c-alert__body">
    <h4 class="ds-c-alert__heading">Notice</h4>
    <p class="ds-c-alert__text"> {{settings.DISCLOSURE_TEXT }}</p>
  </div>
</div>
  </div>
</div>
    <div class="ds-l-row">
    <div class="ds-l-col--3"></div>
  </div>
  <div class="ds-l-row">
    <div class="ds-l-col--3"></div>
  </div>
  <div class="ds-l-row ds-u-justify-content--center">
    <div class="ds-l-col--6">
              <div class="hero-unit">
            <h1>{% trans "Login" %} </h1>
      
      <form class="well" method="post" action="">
                {% csrf_token %}
                <table>
                    {% load bootstrap %}
                    {{ form|bootstrap }}
                </table>
                <input type="submit" class="ds-c-button  ds-c-button--primary" value="{% trans 'Login' %}" />
                <br/>
                <a href="{% url 'forgot_password' %}">Forgot Password?</a> |
                 {% if settings.REQUIRE_INVITE_TO_REGISTER %}
                    <a href="{% url 'request_invite' %}">{% trans "Request Invite" %}</a>
                 {% else %}
                    <a href="{% url 'accounts_create_account' %}"> {% trans "Create an Account "%}</a>
                 {% endif %}
            </form>
      
      </div>
    </div>
  </div>
  <div class="ds-l-row ds-u-justify-content--end">
    <div class="ds-l-col--3"></div>
  </div>
  
  
  </section>

{% endblock %}

{% block ExtraJSFoot %}
    <script type="application/javascript">$("#id_email").focus();</script>
{% endblock %}
