{% extends "base.html" %}
{% load i18n %}

{% block Content %}
<section id="register">
  <div class="page-header">
    <h1>{% trans "Create an Account" %}</h1>
  </div>

<p><em><strong>You need an invitation code to create an account. If you do not
have an invitation code you may 
<a href="http://www.videntity.com/about/contact-us/">request one</a>.
</strong></em></p>
  
<div class="row">
    <div class="span8">
      <form class="well" method="post" action="">
        {% csrf_token %}
        <table>
        
        {% load bootstrap %}
        {{ form|bootstrap }}

        </table>
        <input type="submit" class="btn btn-primary btn-large" value="{% trans 'Continue' %}" /><br>
	<a href="javascript:history.go(-1)">{% trans "Go Back" %}</a>
      </form>
    </div>
  </div>
</section>
{% endblock %}

