{% extends "base.html" %}
{% load i18n %}

{% block Content %}
        <div class="hero-unit">
            <div class="row">
                <div class="span7 center">
                    <div class="hero-unit text-center">
                        <p class="lead">
                           <a class="btn btn-primary btn-lg" href="{% url 'social:begin' settings.SOCIAL_AUTH_BACKEND_NAME %}?next={{ request.GET.next | urlencode }}"  role="button">{% trans "Login with" %} {{settings.EXTERNAL_AUTH_NAME}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}