{% extends "base.html" %}
{% load i18n %}

{% block messages %}
      <div class="row">
         <div class="col-lg-8">
           {% include "include/messages.html" %}
         </div>
      </div>

{% endblock %}

{% block Content %}

      <div class="hero-unit">
        <h1 class="ds-h1">{% trans "Beneficiary Signup" %}</h1>
        <br>
      </div>
      <div class="row">
          <div class="span7 center">
            <form class="well" method="post" action="">
              {% csrf_token %}
              <table>

                  {% load bootstrap %}
                  {{ form|bootstrap }}

              </table>
              <input type="submit" class="usa-button usa-button btn-xlarge btn-block" value="{% trans 'Login' %}" />
                <!-- btn-xlarge currently defined in base.html.
                     TODO: need to move to css file with other button settings-->
                <br/>
            </form>
          </div>
      </div>

{% endblock %}
