{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "About CMS Blue Button API" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">About</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}About CMS Blue Button API{% endblock %}

{% block Content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">

                <h1>About CMS Blue Button API</h1>

                 <p>The CMS Blue Button API is the next generation of Blue Button.</p>
                 <br/>
                 <p>Instead of downloading a text file that could span hundreds of pages
                     you can connect your claims data to an application or service that
                     can access and search your claims data for the information you need.
                 </p>
                 <br/>
                 <p>The Blue Button API is built using the latest health care standard,
                    FHIR, Fast Health Care Interoperability Resources, pronounced "Fire."
                </p>
                <p>It makes it easier for you to share your information with the applications,
                    services or research programs you trust. All under your control.
                </p>
                <br/>

            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}