{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumbs %}

    <div class="ds-col-lg-12">
      <ol class="breadcrumb">
        <li class="active"><a href="/">Home</a></li>
      </ol>
    </div>

{% endblock %}

{% block messages %}
    <div class="row">
      <div class="ds-col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>

{% endblock %}

{% block Content %}


 <div class="ds-col-lg-12">
    <div class="usa-font-lead usa-font-lead ">
        <div class="ds-col-lg-12">

				<div class="btn-group-justified">
					<a href="{% url 'oauth2_provider:authorized-token-list' %}" >
					  <button type="button" class="usa-button usa-button usa-button-primary"> <i class="fa fa-legal"></i>  Application Tokens</button></a>
                    {% if profile.user_type == "DEV" or profile == None or profile.create_applications %} 
					<a href="{% url 'oauth2_provider:list' %}">
						 <button type="button" class="usa-button usa-button usa-button-primary"> <i class="fa fa-key"></i>  Application Registration
					</button></a>
					{% endif %}

				</div>
	    </div>
		
    </div> <!-- /.row -->
 </div> <!-- /.well -->


{% endblock %}

