{% extends "base.html" %}
{% load i18n %}
{% block Content %}
{% load has_group %}
<div class="container">

    <div class="row">
      <div class="col-lg-12">
         <h1 class="page-header">Hello {{user|capfirst}}</h1>
      </div>
    </div>
      

    <div class="row">
      <div class="col-lg-10">
        {% include "include/messages.html" %}
      </div>
    </div>
 
	  
      <div class="row">
        <div class="col-lg-12">
	      <ol class="breadcrumb">
	        <li class="active"><a href="/">Home</a></li>
	      </ol>
        </div>
      </div>
    
    <div class="row">
        <div class="col-lg-12">
		
 <a href="{% url 'oauth2_provider:authorized-token-list' %}" ><button type="button" class="btn btn-primary">Authorized Application Tokens</button></a>
		</div>
	   </div>
	
	
	  
    
 

    </div><!-- /.container -->

  
{% endblock %}

