{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Developing for CMS Blue Button API" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">Developer Help</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Developing for CMS Blue Button API{% endblock %}

{% block Content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">

                <h1>Blue Button Developer Help</h1>

                 <p>The Blue Button API is built using the latest health care standard:
                    FHIR, Fast Health Care Interoperability Resources.
                 </p>
                 <br/>
                 <p>By registering your application with the CMS Blue Button API platform
                     you will enable Medicare Beneficiaries to connect their data
                     to your web site or smartphone app.
                 </p>
                 <br/>

                <br/>

            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}