{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} {{ settings.APPLICATION_TITLE }} {% endblock %}
{% block Content %}


<div class="hero-unit text-center">



 <h1 class="display-3">{{settings.TAG_LINE_1}}</h1>
  <p class="lead">{{settings.TAG_LINE_2}}</p>
  <hr class="my-4">
  <p>{{settings.EXPLAINATION_LINE}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{settings.USER_DOCS_URI}}" role="button">Learn more</a>
  </p>

 <p>If you've already got an account then <a href="{% url 'mfa_login' %}">login </a>
 {% if settings.ALLOW_END_USER_EXTERNAL_AUTH %}
    or login with <a href="{% url 'social:begin' 'oauth2io' %}">{{settings.EXTERNAL_AUTH_NAME}}</a>  or
    <a href="{% url 'social:begin' 'idme' %}">ID.me</a>
  
 {% endif %}


</div>


{% endblock %}
