{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} {{ settings.APPLICATION_TITLE }} {% endblock %}
{% block Content %}
    <main class="row container-fluid" id="main-content">

        <div class="row container-fluid">

<div class="ds-base">
  <header class="main-header ds-u-margin-bottom--2 ds-u-lg-margin-bottom--5">
    <div class="solid-container ds-u-padding-y--2 ds-u-lg-padding-y--5">
      <div class="ds-l-container">
        <div class="ds-l-row">
          <div class="ds-u-color--white ds-l-sm-cold--12 ds-l-xl-col--10 ds-u-margin-left--auto ds-u-padding-x--4">
              <span class="ds-c-badge ds-u-text-transform--uppercase">api</span>
              <h1 class="ds-display">Blue Button 2.0</h1>
              <p class="ds-text--lead">
                A developer-friendly, standards-based API that enables Medicare beneficiaries to connect their claims data to applications, services and research programs they trust.
              </p>

              <div class="ctas">
              
              <a class="ds-c-button button--white" href="https://bluebutton.cms.gov/developers/" aria-label="View the documentation" target="_self">View the documentation &rarr;</a>
              <a class="ds-c-button button--white" href="https://sandbox.bluebutton.cms.gov/v1/accounts/create" aria-label="Sign up for the Blue Button 2.0 Sandbox" target="_self">Sign up for the Blue Button 2.0 Sandbox &rarr;</a>
              </div>

              </div>
            </div>
          </div>
        </div>
      <div class="gradient-container ds-u-padding-y--2 ds-u-lg-padding-y--5 ds-u-display--none ds-u-md-display--block">
    </div>
  </header>
</div>

</div>
</main>

{% endblock %}
