// Form Styling
// ------------

// Global Form & Search Elements
// -----------------------------

$black: #000000;
$blue: #004E60;
$dark-gray: #3e3e3e;
$light-gray: #f7f7f7;
$purple: #575478;
$red: #BA0C2F;
$teal: #00A3AD;
$white: #ffffff;

$component-border: 1px solid darken($light-gray, 5%);


$main-content-search-border-color: #95989a;

// Default Form Styles
// -------------------

form {
	// Input Styles
	input[type="text"],
	input[type="email"],
	input[type="number"],
  input[type="password"],
	input[type="url"],
 	input[type="file"]	{
		box-sizing: border-box;
		margin: .5rem 0 1rem 0;
		display: block;
    width: 100%;
		background: $light-gray;
		border: $component-border;
		border-radius: .3rem;
		font-weight: bold;
		padding: 1rem;
		transition: background 180ms ease, 180ms ease border-color;
		&:focus {
			background: $white;
			border-color: darken($light-gray, 20%);
		}
	}
	// Textarea Styles
	textarea {
		margin: .5rem 0;
		display: block;
		background: $light-gray;
		border: $component-border;
		border-radius: .3rem;
		font-weight: normal;
		font-size: .9rem;
		padding: 1rem;
		transition: background 180ms ease, 180ms ease border-color;
		&:focus {
			background: $white;
			border-color: darken($light-gray, 20%);
		}
	}
	// Submit Styles
	input[type="submit"],
	button[type="submit"] {
		// background: $red;
		// color: $white;
		padding: 1rem;
		border: none;
		border-radius: .3rem;
		cursor: pointer;
	}
	input[type="button"] {
		// background: $blue;
		// color: $white;
		padding: 1rem;
		border: none;
		border-radius: .3rem;
		cursor: pointer;
	}
	input[type="reset"] {
		background: $light-gray;
		color: $dark-gray;
		padding: 1rem;
		border: none;
		border-radius: .3rem;
		cursor: pointer;
	}
}

// Placeholder Color Mixin
@mixin placeholder($color:$dark-gray) {
	&::-webkit-input-placeholder {
		color: $color !important;
		opacity: 1;
		transition: color 180ms ease;
	}
	&::-moz-placeholder {
		color: $color !important;
		opacity: 1;
		transition: color 180ms ease;
	}
	&:-ms-input-placeholder {
		color: $color !important;
		opacity: 1;
		transition: color 180ms ease;
	}
	&:moz-placeholder {
		color: $color !important;
		opacity: 1;
		transition: color 180ms ease;
	}
	&::placeholder {
		color: $color !important;
		opacity: 1;
		transition: color 180ms ease;
	}
}

select {
  background: $light-gray;
  border: $component-border;
  height: 3.5rem;
  border-radius: .3rem;
  font-weight: bold;
  margin: 1rem 0;
	width: 100%;
	padding: 1rem;
	background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1.5rem + 2px),
    calc(100% - 15px) calc(1.5rem + 2px),
    calc(100% - 2.5rem) 0rem;
  background-size:
    5px 5px,
    5px 5px,
    1px 3.5rem;
  background-repeat: no-repeat;
	-webkit-appearance: none;
}

// Form Help Messages
$form-help-message-bg: #E1F3F8;

.help-block {
	background: $form-help-message-bg;
	font-size: .85rem;
	padding: .5rem;
	border-radius: .3rem;
	margin-bottom: 1rem;
}

span.help-block {
	background: #FFF1D2;
	display: block;
}
