
// Global Elements, Variables, and Mixins
// --------------------------------------

// CMS Design Color Variables
// --------------------------

$color-gray-light: #AEB0B5;
$color-gray-dark: #323A45;

// General Color Variables
// -----------------------

$light-gray: #f7f7f7;
$black: #000000;
$white: #ffffff;

// General Global Styles
// ---------------------

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: $color-gray-dark;
}

// NOTE: Fix for weird overflow issue. 
.container {
  .ds-l-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
