
// Global Elements, Variables, and Mixins
// --------------------------------------

// CMS Design Color Variables
// --------------------------

$color-gray-light: #AEB0B5;

// General Color Variables
// -----------------------

$light-gray: #f7f7f7;
$black: #000000;
$white: #ffffff;

// General Global Styles
// ---------------------

body {
  margin: 0;
  padding: 0;
}
