<html>
    <head>
        <title>{{ APPLICATION_TITLE }}</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header">Access to your health information was just granted to {{ APP_NAME }}</h1>
              </div>
            </div>
            
             <div class="row">
              <div class="col-lg-12">
                  This message is a courtesy notification. If you are aware of this action there is nothing to do.
                  If you did not approve access to {{ APP_NAME }} please change your password and revoke access.</p>
                  <p><a href="{{ HOSTNAME }}"> {{HOSTNAME}}</a></p>
                </div>
              </div>
            
            <div class="row">
              <div class="col-lg-12">
               <br/>
               - The {{ APPLICATION_TITLE }} Team
              </div>
            </div>
        </div><!-- /.container -->  
    </body>
</html>


