// Custom Breakpoints
// -----------

// $small-phone: "(min-width: 0px) and (max-width: 400px)";
// $phone: "(min-width: 0px) and (max-width: 639px)";
// $mobile-nav: "(min-width: 0px) and (max-width: 895px)";
// $tablet: "(min-width: 640px) and (max-width: 1023px)";
// $desktop: "(min-width: 1024px)";

$small-phone: "(min-width: 0px) and (max-width: 400px)";
$phone: "(min-width: 0px) and (max-width: 639px)";
$mobile-nav: "(min-width: 0px) and (max-width: 895px)";
$tablet: "(min-width: 640px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$large-desktop: "(min-width: 1400px)";
