<!DOCTYPE html>
{% load static %}
{% load engine_skin %}
<html lang="en">
<head>
    <title>
        {% block pretitle %}{% endblock %}
        {% block title %} {{ APPLICATION_TITLE }} {% endblock %}
    </title>

    {% block head %}
        {% include 'include/head.html' %}
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
    <style>

    </style>
</head>
<body class="ds ds-base">


    {% include 'include/header_minimal.html' %}

       <main class="ds-l-container-fluid preview__grid " id="main-content">

        <div class="ds-l-row">

            <div class="ds-base ds ds-l-lg-col--12">

                {% block breadcrumbs %}
                {% endblock %}

                {% block messages %}
                {% endblock %}




                {% block Content %}
                    {% if template %}{% include template %}{% endif %}
                    {{ content|safe }}
                {% endblock %}
            </div>
        </div>

    </main>


    <div>
        {% include "include/footer_minimal.html" %}

        {% include "include/foot.html" %}

    </div>

    {% block ExtraJSFoot %}

	{% endblock %}

</body>

</html>