{% extends "base_minimal.html" %}
{% load i18n %}


{% block messages %}

      <div class="ds-l-row">
         <div class="ds-col-lg--12">
           {% include "include/messages.html" %}
         </div>
      </div>


    <div class="ds-c-alert ds-c-alert" role="alert">

        <div class="ds-c-alert__body">
                <h3 class="ds-c-alert__heading">Notice:</h3>
                <p class="ds-c-alert__text">{{settings.DISCLOSURE_TEXT }}</p>
        </div>
    </div>

{% endblock %}

{% block Content %}


		 {% if settings.ALLOW_END_USER_EXTERNAL_AUTH == "E" %}

      <div class="hero-unit">
      <h1>{% trans "Login with" %} {{settings.EXTERNAL_AUTH_NAME}}</h1>
	  
      <div class="row">
      <div class="span7 center">
		 <div class="hero-unit text-center">
		 
		   <p class="lead">
             <a class="btn btn-primary btn-lg" href="{% url 'social:begin' settings.SOCIAL_AUTH_BACKEND_NAME %}?next={{ request.GET.next | urlencode }}"  role="button">{{settings.EXTERNAL_AUTH_NAME}}</a>
		   </p>
		   
		   
		   
	   {% elif settings.ALLOW_END_USER_EXTERNAL_AUTH == "B" %}
     <div class="hero-unit">
      <h1>{% trans "Login with" %} {{settings.EXTERNAL_AUTH_NAME}}</h1>
	  
      <div class="row">
      <div class="span7 center">
		 <div class="hero-unit text-center">
		 
		   <p class="lead">
             <a class="btn btn-primary btn-lg" href="{% url 'social:begin' settings.SOCIAL_AUTH_BACKEND_NAME %}?next={{ request.GET.next | urlencode }}"  role="button">{{settings.EXTERNAL_AUTH_NAME}}</a>
		   </p>
		</div></div></div></div>

<div class="hero-unit">
		   
		   <h1>{% trans "Or login with your username and password" %} </h1>

	
	   
       <form class="well" method="post" action="">
          {% csrf_token %}
          <table>
          
          {% load bootstrap %}
          {{ form|bootstrap }}
  
          </table>
          <input type="submit" class="btn-xlarge btn-primary btn-block" value="{% trans 'Login' %}" />
            <!-- btn-xlarge currently defined in base.html.
                 TODO: need to move to css file with other button settings-->
            <br/>
			

            <a href="{% url 'forgot_password' %}">Forgot Password?</a> | <a href="{% url 'request_invite' %}">
                  {% trans "Request Invite" %}</a>
        </form>
	   
	     <p class="lead">
			<h2>or Login with {{settings.SOCIAL_AUTH_BACKEND_NAME}}</2>
             <a class="btn btn-primary btn-lg" href="{% url 'social:begin' settings.SOCIAL_AUTH_BACKEND_NAME %}?next={{ request.GET.next | urlencode }}"  role="button">{{settings.EXTERNAL_AUTH_NAME}}</a>
		   </p>
	   
	   
	   
	   {% else %}
	   <div class="hero-unit">
	   
       <form class="well" method="post" action="">
          {% csrf_token %}
          <table>
          
          {% load bootstrap %}
          {{ form|bootstrap }}
  
          </table>
          <input type="submit" class="btn-xlarge btn-primary btn-block" value="{% trans 'Login' %}" />
            <!-- btn-xlarge currently defined in base.html.
                 TODO: need to move to css file with other button settings-->
            <br/>

            <a href="{% url 'forgot_password' %}">Forgot Password?</a> |
           {% if settings.ENGINE_SKIN == 'cms/' %}
               <a href="https://www.mymedicare.gov/registration.aspx"
                  target="_blank">
                      {% trans "Create Your MyMedicare Account" %}</a>
           {% else %}
               <a href="{% url 'request_invite' %}">
                      {% trans "Request Invite" %}</a>
           {% endif %}

        </form>
  
 {% endif %}
		

            </div>


	  </div>


{% endblock %}

    {% block ExtraJSFoot %}
	<script type="application/javascript">$("#id_username").focus();</script>
	{% endblock %}
