{% load static %}
    <!-- JavaScript -->
    <!-- This file is loaded by base.html after footer.html. It is used to load
         javascript files at the bottom of the file just before the closing </body> tag
         for speed of page loading -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        {% if user.is_authenticated %}
                <script type="text/javascript">
                    var time = 1000 * 60 * 30; // 30 minutes
                    var theTimer = setTimeout("document.location.href='/accounts/logout'",time);
            </script>

        {% endif %}
    




