{%  extends "base.html" %}
{% block Content %}
<div class="container container-fluid">
    <h1 class="ds-h1">{{ content.resource_type }} [{{ content.request_method }}/{{ content.interaction_type }}]</h1>
    <h2 class="ds-h4">parameters: {{ content.parameters }}</h2>

        {% if content.div_texts|length > 0 %}
            <h6 class="ds-h6">Embedded text in record</h6>
            <span class="usa-font-lead">
                {% for div_text in content.div_texts %}
                    {{ div_text|safe }}
                {% endfor %}
            </span>
        {% endif %}
        <h4 class="ds-h4">Structured Record</h4>
<pre>
{{ output }}
</pre>

    <div class="ds-l-col-12 usa-font-lead">
        {{ output.note }}
    </div>
    {% if content.source %}<div class="ds-l-row ds-l-col-12 usa-font-lead">[source: {{ content.source }}]</div>{% endif %}
    {% if user.is_superuser %}
               <p>we are in templates.bluebutton.default.html</p>
           {% if settings.ALLOWED_HOSTS %}<div class="ds-l-row ds-u-fill--gray-lightest ds-u-font-size--small">{{ settings.ALLOWED_HOSTS|last }}</div>
           {% endif %}
       {% else %}
           {% if settings.DEBUG %}
               <div class="ds-l-row ds-u-fill--gray-lightest ds-u-font-style--italic ds-u-font-size--small">{{ settings.ALLOWED_HOSTS|last }}</div>
           {% endif %}
       {% endif %}

</div>
{% endblock %}
