{% load static %}
<div class="row container-fluid">
    <div class="row footer-wrapper panel-footer">

        <div class="text-center row col-lg-12 h4 " >
            <a href="{{export_settings.TOS_URI}}">{{export_settings.TOS_TITLE}}</a> |
            <a href="{{export_settings.DEVELOPER_DOCS_URI}}">{{export_settings.DEVELOPER_DOCS_TITLE}}</a> |
        </div>


         <div class="row-container-fluid" >
            <p class="row-container-fluid footer-small well">
            {{ export_settings.APPLICATION_TITLE }} is operated by {{export_settings.ORGANIZATION_TITLE }}. {{export_settings.DISCLOSURE_TEXT}}
            </p>
         </div>
         <div class="container-fluid row-container-fluid" >

             {% if user.is_superuser %}
                    {% if export_settings.ALLOWED_HOSTS %}<div class="ds ds-l-row ds-u-fill--gray-lightest ds-u-font-size--small">{{ export_settings.ALLOWED_HOSTS|last }}</div>
                    {% endif %}
             {% else %}
                    {% if export_settings.DEBUG %}
                       <div class="ds ds-l-row ds-u-fill--gray-lightest ds-u-font-style--italic ds-u-font-size--small">{{ export_settings.ALLOWED_HOSTS|last }}</div>
                    {% endif %}
             {% endif %}

        </div>
    </div> <!-- /.footer-wrapper -->


</div><!-- /.container-fluid -->
