{% extends "design_system/base.html" %}
{% load i18n %}

{% block Content %}
      <h1>Choose a Login Option</h1>
     <p>
       <a  class="ds-c-button  ds-c-button--big" href="{{mymedicare_login_uri}}"  role="button">{% trans "Login to the " %} {{settings.EXTERNAL_AUTH_NAME}} sandbox</a>
       </p>
     <h2>or</h2>

     <p> <a class="ds-c-button  ds-c-button--big" href ="{% url 'mfa_login' %}?next={{ next_uri | urlencode }}" > Login to the Developer Portal</a></p>

     <h2>NOTE: This page displays only in the sandbox and is not displayed in production. In production, beneficiaries are sent directly to MyMedicare.gov for login.</h2>
{% endblock %}
