// Import Bootstrap
// @import 'partials/sandbox/bootstrap';

// Global Imports
@import 'partials/global/global-master';

// Static Site Imports
@import 'partials/static/legacy';

// Sandbox Imports
@import 'partials/sandbox/sandbox-login';
@import 'partials/sandbox/sandbox-global';
@import 'partials/sandbox/bene-auth-consent-view';
@import 'partials/sandbox/forms';
@import 'partials/sandbox/breadcrumbs';
@import 'partials/sandbox/footer';
