attrs
beautifulsoup4 == 4.12.2
boto3
# botocore >= 1.42.4
certifi
configparser
cryptography >= 44.0.1
dj-database-url
django == 4.2.27
django-axes
django-bootstrap-v5
django-cors-headers
django-filter
django-getenv
django-localflavor
django-oauth-toolkit
django-ses
django-settings-export
django-storages
django-waffle
djangorestframework
djangorestframework-csv
importlib-metadata
importlib-resources
jsonschema
jwcrypto
newrelic
oauthlib
Pillow >= 10.3.0
pkgutil-resolve-name
psycopg2-binary
py
pyjwt
pyrsistent
python-dotenv
pytz
pyyaml
requests
requests_oauthlib
soupsieve >= 2.4.1
sqlparse >= 0.5.4
typing_extensions
urllib3 >= 2.6.0
voluptuous
