# base packages
django==3.2.16
django-getenv
django-bootstrap-form
django-cors-headers
django-localflavor
django-settings-export
djangorestframework
djangorestframework-csv
django-filter
django-axes==5.35.0

# support
django-waffle==2.0.0
django-storages==1.12.3
python-dotenv
jsonschema==3.2.0
requests
urllib3
requests_oauthlib
pytz
configparser==3.5.0
dj-database-url==0.5.0
pyjwt==2.4.0
newrelic==7.16.0.178
psycopg2-binary==2.9.3
sqlparse
Pillow==9.2.0
boto3
djangorestframework-yaml
voluptuous
pyyaml==6.0
py==1.10.0
attrs==20.3.0
pyrsistent==0.17.3
typing_extensions==4.2.0
importlib-metadata<2.0

# notifications
django-ses

# security and identity system
oauthlib==3.1.0
python-openid
django-oauth-toolkit==1.6.0
jwcrypto==1.4.2
