-r requirements.in
# test and development
# coverage
# python-coveralls
flake8==7.3.0
django-debug-toolbar
h11 >= 0.16.0
httmock
debugpy
selenium 
pytest 
Flask 
Flask-WTF
setuptools_scm==9.2.2
# setuptools must be pinned, or we get 
# warnings in the build.
setuptools==80.9.0
