-r requirements.in
debugpy == 1.8.19 
ruff == 0.16.2 # for linting and formatting
flask == 3.1.3
flask-wtf == 1.2.1
freezegun == 1.5.5
httmock == 1.4.0
locust == 2.43.3 # used for load testing
selenium == 4.16.0
setuptools == 83.0.0 # TODO do we need this defined here?
urllib3 == 2.7.0
