services:
####################
  # Blue Button
  web:
    build: 
      # Note the context is the top of the repo, and the
      # dockerfile is down in the `ops` tree.
      context: ../../..
      dockerfile: ops/containers/bb-web-api/Dockerfile
    platform: linux/amd64
    command: /home/boton/bb/ops/containers/bb-web-api/scripts/internal/entrypoint.bash
    read_only: ${READ_ONLY:-true}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - files/external/.env.container
    volumes:
      - ./scripts:/home/boton/bb/ops/containers/bb-web-api/scripts
      - type: bind
        source: ../../..
        target: /home/boton/bb
        read_only: ${READ_ONLY:-true}
      - type: tmpfs
        target: /tmp
        tmpfs:
          size: 200000000 # 200MB
          mode: 0777
    ports:
      - "8000:8000"
      - "5678:5678"
    # depends_on:
    #   - db
    #   - msls
volumes:
    s3mock-data: