swagger: '2.0'
info:
  description: >-

    **D R A F T -- D R A F T -- D R A F T -- D R A F T -- D R A F T -- D R A F
    T**


    The Centers for Medicare & Medicaid Services (CMS) Blue Button API is a
    developer-friendly, standards-based, data API that enables Medicare
    beneficiaries to connect their Medicare claims data to the applications,
    services, and research programs they trust.


    Up to three years of claims information can be accessed using the  HL7 Fast
    Health Care interoperability Resource (FHIR) specification.


    Fast Healthcare Interoperability Resources (FHIR, pronounced "Fire") defines
    a set of "resources" that represent granular clinical concepts. The
    resources can be managed in isolation, or aggregated into complex documents.
    Technically, FHIR is designed for the web; the resources are based on simple
    XML or JSON structures, with an http-based RESTful protocol where each
    resource has predictable URL. Where possible, open internet standards are
    used for data representation.


    The **CMS Blue Button API** is keyed by a unique Patient id. This id is
    used to apply filter parameters in requests and searches to limit the
    information returned to that of the logged in user.


    In FHIR terms the **Medicare Beneficiary** is the "**Patient**." In order to
    be  consistent with the FHIR specification we will use the term Patient
    throughout this documentation to refer to the Medicare Beneficiary.
  version: 0.0.27
  title: CMS Blue Button API v0.8 (DRAFT)
host: sandbox.bluebutton.cms.gov
tags:
  - name: CapabilityStatement
  - name: Coverage
  - name: ExplanationOfBenefit
  - name: Patient
schemes:
  - https
paths:
  /bluebutton/fhir/v1/metadata:
    get:
      tags:
        - CapabilityStatement
      parameters:
        - name: _format
          in: query
          description: |
            'Options are "application/json", "application/xml"'
          required: false
          type: string
          enum:
            - application/json
            - application/xml
          x-consoleDefault: application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/CapabilityStatement'
      security: []
  /v1/fhir/Coverage/:
    get:
      tags:
        - Coverage
      parameters:
        - name: beneficiary
          in: query
          description: |
            The Beneficiary's Fhir_id goes here in the format Patient/Fhir_id
          required: false
          type: string
        - name: _id
          in: query
          description: The ID of the resource
          required: false
          type: string
        - name: _format
          in: query
          description: |
            'Options are "application/json", "application/xml"'
          required: false
          type: string
          enum:
            - application/json
            - application/xml
          x-consoleDefault: application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Coverage'
      security:
        - Bearer: []
  '/v1/fhir/Coverage/{id}':
    get:
      tags:
        - Coverage
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Coverage'
      security:
        - Bearer: []
  /v1/fhir/ExplanationOfBenefit/:
    get:
      tags:
        - ExplanationOfBenefit
      parameters:
        - name: _language
          in: query
          description: The language of the resource
          required: false
          type: string
        - name: care-team
          in: query
          description: Member of the CareTeam
          required: false
          type: string
        - name: coverage
          in: query
          description: The plan under which the claim was adjudicated
          required: false
          type: string
        - name: identifier
          in: query
          description: The business identifier of the Explanation of Benefit
          required: false
          type: string
        - name: created
          in: query
          description: The creation date for the EOB
          required: false
          type: string
          format: date
        - name: encounter
          in: query
          description: Encounters associated with a billed line item
          required: false
          type: string
        - name: payee
          in: query
          description: The party receiving any payment for the Claim
          required: false
          type: string
        - name: disposition
          in: query
          description: The contents of the disposition message
          required: false
          type: string
        - name: provider
          in: query
          description: The reference to the provider
          required: false
          type: string
        - name: patient
          in: query
          description: >-
            The reference to the patient. This query parameter is always added
            with the logged in user's fhir_id applied. This limits the data
            returned to only that of the loged in user.
          required: false
          type: string
        - name: organization
          in: query
          description: The reference to the providing organization
          required: false
          type: string
        - name: claim
          in: query
          description: The reference to the claim
          required: false
          type: string
        - name: enterer
          in: query
          description: The party responsible for the entry of the Claim
          required: false
          type: string
        - name: _id
          in: query
          description: The ID of the resource
          required: false
          type: string
        - name: facility
          in: query
          description: Facility responsible for the goods and services
          required: false
          type: string
        - name: _format
          in: query
          description: |
            'Options are "application/json", "application/xml"'
          required: false
          type: string
          enum:
            - application/json
            - application/xml
          x-consoleDefault: application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/ExplanationOfBenefit'
      security:
        - Bearer: []
  '/v1/fhir/ExplanationOfBenefit/{id}':
    get:
      tags:
        - ExplanationOfBenefit
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExplanationOfBenefit'
      security:
        - Bearer: []
  /v1/fhir/Patient/:
    get:
      tags:
        - Patient
      parameters:
        - name: _language
          in: query
          description: The language of the resource
          required: false
          type: string
        - name: birthdate
          in: query
          description: The patient's date of birth
          required: false
          type: string
          format: date
        - name: deceased
          in: query
          description: 'This patient has been marked as deceased, or as a death date entered'
          required: false
          type: string
        - name: address-state
          in: query
          description: A state specified in an address
          required: false
          type: string
        - name: gender
          in: query
          description: Gender of the patient
          required: false
          type: string
        - name: animal-species
          in: query
          description: The species for animal patients
          required: false
          type: string
        - name: link
          in: query
          description: All patients linked to the given patient
          required: false
          type: string
        - name: language
          in: query
          description: Language code (irrespective of use value)
          required: false
          type: string
        - name: animal-breed
          in: query
          description: The breed for animal patients
          required: false
          type: string
        - name: address-country
          in: query
          description: A country specified in an address
          required: false
          type: string
        - name: death-date
          in: query
          description: The date of death has been provided and satisfies this search value
          required: false
          type: string
          format: date
        - name: phonetic
          in: query
          description: >-
            A portion of either family or given name using some kind of phonetic
            matching algorithm
          required: false
          type: string
        - name: telecom
          in: query
          description: The value in any kind of telecom details of the patient
          required: false
          type: string
        - name: address-city
          in: query
          description: A city specified in an address
          required: false
          type: string
        - name: email
          in: query
          description: A value in an email contact
          required: false
          type: string
        - name: given
          in: query
          description: A portion of the given name of the patient
          required: false
          type: string
        - name: identifier
          in: query
          description: A patient identifier
          required: false
          type: string
        - name: address
          in: query
          description: >-
            A server defined search that may match any of the string fields in
            the Address, including line, city, state, country, postalCode,
            and/or text
          required: false
          type: string
        - name: general-practitioner
          in: query
          description: >-
            Patient's nominated general practitioner, not the organization that
            manages the record
          required: false
          type: string
        - name: active
          in: query
          description: Whether the patient record is active
          required: false
          type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          required: false
          type: string
        - name: phone
          in: query
          description: A value in a phone contact
          required: false
          type: string
        - name: organization
          in: query
          description: The organization at which this person is a patient
          required: false
          type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          required: false
          type: string
        - name: name
          in: query
          description: >-
            A server defined search that may match any of the string fields in
            the HumanName, including family, give, prefix, suffix, suffix,
            and/or text
          required: false
          type: string
        - name: _id
          in: query
          description: >-
            The ID of the resource.

            The CMS Blue Button API will override any id entered with the logged
            in user's fhir_id. This prevents one user making a request for
            another user's information.
          required: false
          type: string
        - name: family
          in: query
          description: A portion of the family name of the patient
          required: false
          type: string
        - name: _format
          in: query
          description: |
            'Options are "application/json", "application/xml"'
          required: false
          type: string
          enum:
            - application/json
            - application/xml
          x-consoleDefault: application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Patient'
      security:
        - Bearer: []
  '/v1/fhir/Patient/{id}':
    get:
      tags:
        - Patient
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Patient'
      security:
        - Bearer: []
securityDefinitions:
  Bearer:
    description: >
      'Enter your AccessToken prefixed with "Bearer " eg. Bearer
      sample-token-string'
    type: apiKey
    name: Authorization
    in: header
definitions:
  CapabilityStatement: {}
  Coverage:
    type: object
    required:
      - dependent
      - id
      - identifier
      - plan
      - resourceType
      - sequence
      - subPlan
    properties:
      resourceType:
        type: string
        minLength: 1
      id:
        type: string
        minLength: 1
      text:
        $ref: '#/definitions/Coverage_text'
      issuerReference:
        $ref: '#/definitions/Coverage_issuerReference'
      period:
        $ref: '#/definitions/Coverage_period'
      type:
        $ref: '#/definitions/Coverage_type'
      planholderReference:
        $ref: '#/definitions/Coverage_issuerReference'
      beneficiaryReference:
        $ref: '#/definitions/Coverage_issuerReference'
      relationship:
        $ref: '#/definitions/Coverage_relationship'
      identifier:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Coverage_identifier'
        minItems: 1
      plan:
        type: string
        minLength: 1
      subPlan:
        type: string
        minLength: 1
      dependent:
        type: number
      sequence:
        type: number
    description: >-
      The Coverage resource identifies the Medicare insurance plans the
      beneficiary is covered by.
  ExplanationOfBenefit:
    type: object
    required:
      - created
      - disposition
      - id
      - identifier
      - item
      - resourceType
    properties:
      resourceType:
        type: string
        minLength: 1
      id:
        type: string
        minLength: 1
      text:
        $ref: '#/definitions/Coverage_text'
      identifier:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Coverage_identifier'
        minItems: 1
      claimReference:
        $ref: '#/definitions/Coverage_issuerReference'
      created:
        type: string
        minLength: 1
      _created:
        $ref: '#/definitions/ExplanationOfBenefit__created'
      disposition:
        type: string
        minLength: 1
      organizationReference:
        $ref: '#/definitions/Coverage_issuerReference'
      patientReference:
        $ref: '#/definitions/Coverage_issuerReference'
      coverage:
        $ref: '#/definitions/ExplanationOfBenefit_coverage'
      item:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/ExplanationOfBenefit_item'
        minItems: 1
      totalCost:
        $ref: '#/definitions/ExplanationOfBenefit_unitPrice'
      totalBenefit:
        $ref: '#/definitions/ExplanationOfBenefit_unitPrice'
    description: >-
      The ExplanationOfBenefit Resource definition. This details the procedures,
      services  medicines and equipment that a beneficiary has received as a
      result of Medicare  coverage. An ExplanationOfBenefit resource will
      typically contain multiple claim line details. For example a doctor's
      office visit may identify tests conducted, procedures performed and
      medications issued.
  Patient:
    type: object
    required:
      - active
      - contact
      - gender
      - id
      - identifier
      - link
      - name
      - photo
      - resourceType
    properties:
      resourceType:
        type: string
        minLength: 1
      id:
        type: string
        minLength: 1
      text:
        $ref: '#/definitions/Coverage_text'
      identifier:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Patient_identifier'
        minItems: 1
      active:
        type: boolean
      name:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Patient_name'
        minItems: 1
      gender:
        type: string
        minLength: 1
      photo:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Patient_photo'
        minItems: 1
      contact:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Patient_contact'
        minItems: 1
      managingOrganization:
        $ref: '#/definitions/Patient_organization'
      link:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Patient_link'
        minItems: 1
    description: >-
      The Patient Resource definition. Blue Button records are keyed from this
      resource. A Patient is a Medicare Beneficiary.


      This resource covers data about patients/beneficiaries involved in a wide
      range of health-related activities, including Curative activities,
      Psychiatric care,  Social services, Nursing and assisted living, Personal
      health tracking and  exercise data.


      The data in the resource covers the "__who__" information about the
      patient. Its attributes are focused on the demographic information
      necessary to support the administrative, financial, and logistic
      procedures. A patient record is generally created and maintained by each
      organization providing care for a patient. A patient receiving care at
      multiple organizations may therefore have their information  present in
      multiple patient resources.
  Coverage_text:
    required:
      - div
      - status
    properties:
      status:
        type: string
        minLength: 1
      div:
        type: string
        minLength: 1
  Coverage_issuerReference:
    required:
      - reference
    properties:
      reference:
        type: string
        minLength: 1
  Coverage_period:
    required:
      - end
      - start
    properties:
      start:
        type: string
        minLength: 1
      end:
        type: string
        minLength: 1
  Coverage_type:
    required:
      - code
      - display
      - system
    properties:
      system:
        type: string
        minLength: 1
      code:
        type: string
        minLength: 1
      display:
        type: string
        minLength: 1
  Coverage_relationship:
    required:
      - code
    properties:
      code:
        type: string
        minLength: 1
  Coverage_identifier:
    required:
      - system
      - value
    properties:
      system:
        type: string
        minLength: 1
      value:
        type: string
        minLength: 1
  ExplanationOfBenefit__created:
    required:
      - fhir_comments
    properties:
      fhir_comments:
        type: array
        items:
          type: object
          properties: {}
  ExplanationOfBenefit_coverage:
    properties:
      coverageReference:
        $ref: '#/definitions/Coverage_issuerReference'
  ExplanationOfBenefit_service:
    required:
      - code
      - system
    properties:
      system:
        type: string
        minLength: 1
      code:
        type: string
        minLength: 1
  ExplanationOfBenefit_unitPrice:
    required:
      - code
      - system
      - value
    properties:
      value:
        type: number
      system:
        type: string
        minLength: 1
      code:
        type: string
        minLength: 1
  ExplanationOfBenefit_adjudication:
    properties:
      category:
        $ref: '#/definitions/Coverage_relationship'
      amount:
        $ref: '#/definitions/ExplanationOfBenefit_unitPrice'
  ExplanationOfBenefit_item:
    required:
      - sequence
      - servicedDate
    properties:
      sequence:
        type: number
      type:
        $ref: '#/definitions/Coverage_relationship'
      providerReference:
        $ref: '#/definitions/Coverage_issuerReference'
      service:
        $ref: '#/definitions/ExplanationOfBenefit_service'
      servicedDate:
        type: string
        minLength: 1
      unitPrice:
        $ref: '#/definitions/ExplanationOfBenefit_unitPrice'
      net:
        $ref: '#/definitions/ExplanationOfBenefit_unitPrice'
      adjudication:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/ExplanationOfBenefit_adjudication'
        minItems: 1
  Patient_type:
    required:
      - coding
    properties:
      coding:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/ExplanationOfBenefit_service'
        minItems: 1
  Patient_identifier:
    required:
      - system
      - use
      - value
    properties:
      use:
        type: string
        minLength: 1
      type:
        $ref: '#/definitions/Patient_type'
      system:
        type: string
        minLength: 1
      value:
        type: string
        minLength: 1
  Patient_name:
    required:
      - use
    properties:
      use:
        type: string
        minLength: 1
      family:
        type: array
        items:
          type: object
          properties: {}
      given:
        type: array
        items:
          type: object
          properties: {}
  Patient_photo:
    required:
      - contentType
      - data
    properties:
      contentType:
        type: string
        minLength: 1
      data:
        type: string
        minLength: 1
  Patient_relationship:
    properties:
      coding:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/ExplanationOfBenefit_service'
        minItems: 1
  Patient_organization:
    required:
      - display
      - reference
    properties:
      reference:
        type: string
        minLength: 1
      display:
        type: string
        minLength: 1
  Patient_contact:
    properties:
      relationship:
        type: array
        uniqueItems: true
        items:
          $ref: '#/definitions/Patient_relationship'
        minItems: 1
      organization:
        $ref: '#/definitions/Patient_organization'
  Patient_link:
    required:
      - type
    properties:
      other:
        $ref: '#/definitions/Coverage_issuerReference'
      type:
        type: string
        minLength: 1
parameters:
  UnderFormat:
    name: _format
    in: query
    description: |
      'Options are "application/json", "application/xml"'
    required: false
    type: string
    enum:
      - application/json
      - application/xml
    x-consoleDefault: application/json
