{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Activate CMS Blue Button API" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">Learn</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Activate the CMS Blue Button API (1){% endblock %}

{% block Content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">

                <h1>A New Generation of Blue Button</h1>

                <h4>Put your health information to work for you, or donate it to research</h4>

                 <p>CMS and MyMedicare.gov introduces a new, advanced Blue Button
                    service: The CMS Blue Button API (Application Programming Interface).
                     It complements the existing Blue Button Text and
                    PDF file download options.
                    <br/>
                    This enables
                    software develpers to create new and exciting web and mobile applications that
                    help you manage your health information more easily.  You can choose which
                    applications you want to share your Medicare claims data with.
                    <br/>
                    Once you choose to share with an application it does all the
                    hard work of downloading and understanding your data. This can be done
                    automatically for you so that your information is ready when you need it.
                    <br/>
                    The CMS Blue Button API lets you share information without having
                    to share your password. Each application is given a unique key that you
                    control. You can delete that key at any time. Just login to MyMedicare.gov,
                    access the "Connected Apps" panel in "My Account" and remove the key and
                    data stops flowing to the disconnected application.

                </p>
                <h5>What is an API?</h5>
                <p>Application Programming Interface: It is a toolset that software developers
                    use to create smartphone, web and other applications. The API defines
                    how to interact with a system or service. Modern applications, Like this
                    one, use hundreds of APIs to simplify the creation of applications.
                </p>
                <p>
                   By publishing your information via an API we allow you to choose who you share
                    your information with. You are in cotrol. At the same time we are making it easier for
                    software developers you have trusted with your data to create solutions and services
                    which help you make sense of your claims data, helping you to live healthier.
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-lg">
                    <li>
                        <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_0' %}">1</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_1' %}">2</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_2' %}">3</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_1' %}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}