{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Activate CMS Blue Button API" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">Learn</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Activate CMS Blue Button API (3){% endblock %}
{% block Content %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="ds-col-md-8 ds-col-sm-12">
                <h3 class="ds-h3">So you want to share your information...</h3>
                <p>The CMS Blue Button API is currently a pilot service. You need an invitation code
                in order to register. Your Accountable Care Organization or a member of your care team
                should have provided you with a code.
                </p>

                <h4 class="ds-h4">Here are the steps:</h4>

                <p> <b>1. </b>Click "Yes" below.
                    <br/>
                    <b>2. </b>Fill in and "sign" the Activation form.
                    <br/>
                    <b>3. </b>We will send you an email with an Activation link.
                    <br/>
                    <b>4. </b>Click on the link in the email. This will bring you back to
                    the CMS Blue Button API.
                    <br/>
                    <b>5. </b>Login to complete the activation.
                    <br/>
                    <b>6. </b>We will send you an email so that you know it all worked.
                    <br/>
                </p>

            </div>
            <div class="ds-col-md-4 ds-col-sm-12">
                <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
        <div class="row">
            <div class="ds-col-md-6">
                <a href="{% url 'accounts_create_user' %}" class="active btn btn-block btn-lg btn-primary">
                    Yes, Activate my Advanced Blue Button!</a>
            </div>
            <div class="ds-col-md-2">
                <a href="{% url 'home' %}" class="btn btn-danger btn-lg">Cancel</a>
            </div>
            <div class="ds-col-md-5"></div>
        </div>
        <div class="row">
            <div class="ds-col-md-12"></div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="ds-col-md-12">
                <ul class="pagination pagination-lg">
                    <li>
                        <a href="{% url 'learn_1' %}">Prev</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_0' %}">1</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_1' %}">2</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_2' %}">3</a>
                    </li>
                    <li>
                        <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}