{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block extrahead %}
    <script src="{% static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "Activate CMS Blue Button API" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">Learn</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}Activate CMS Blue Button API (2){% endblock %}
{% block Content %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h1>It's Your Data</h1>

                <h4>Taking Your Data with you</h4>

                <p>The CMS Blue Button API Service makes it easy for you connect your
                    health information to applications, services or research programs that you
                    trust.
                    <br/>
                    Be careful with your data! It is important to realize that once you
                    allow another person or application to see your information they will
                    have a copy.
                    <br/>
                    Before you connect an application to your MyMedicare information always
                    make sure that you trust that the application will take good care
                    of your data.
                    <br/>
                    But remember, if you change your mind you can come
                    back to your My Account dashboard on MyMedicare.gov and disconnect any of
                    your connected applications. Disconnecting them immediately stops any new
                    data from flowing to them.
                </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination pagination-lg">
                    <li>
                        <a href="{% url 'learn_0' %}">Prev</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_0' %}">1</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_1' %}">2</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_2' %}">3</a>
                    </li>
                    <li>
                        <a href="{% url 'learn_2' %}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%  endblock %}