{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %} {{ settings.APPLICATION_TITLE }} {% endblock %}
{% block Content %}


<div class="row container-fluid ds-col-l--12">

     <h1 class="ds-h1">{{settings.TAG_LINE_1}}</h1>
      <h2 class="ds-h2" >{{settings.TAG_LINE_2}}</h2>
      <hr class="ds-h4">
      <p class="ds-text--lead ds-u-measure--wide">{{settings.EXPLAINATION_LINE}}</p>
      <p class="ds-text--lead ds-u-measure--wide">

         <a class="btn btn-primary btn-lg" href="{% url 'request_invite' %}"role="button">Request an Invite to {{ settings.APPLICATION_TITLE }}</a>
      </p>

     <p class="ds-text--lead ds-u-measure--wide">If you've already got an account then login
         {% if settings.ALLOW_END_USER_EXTERNAL_AUTH %}
               <a href="{% url 'social:begin' settings.SOCIAL_AUTH_BACKEND_NAME %}">{{settings.EXTERNAL_AUTH_NAME}}</a>
         {% else %}
               <a href="{% url 'mfa_login' %}"><strong>here</strong></a>.
         {% endif %}
     </p>


</div>

{% endblock %}
