{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ settings.APPLICATION_TITLE }}{% endblock %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block pagename %}Welcome to Blue Button On FHIR{% endblock %}
{% block Content %}
<div class="container-fluid">


    <div class="col-lg-12">
        <div class="col-lg-12">
            <p>
                This is an open experimental platform that uses synthetic data to simulate
                the interactions available to application developers and beneficiaries on
                the production CMS Bluebutton api platform.
            </p>
            <p>
                <b>Data stored on this system can be deleted, or reset, at any time.</b>
            </p>
            <p>Using this test service requires two types of account:
                <li>Developer</li>
                <li>Beneficiary</li>
            </p>
            <h4>Overview of the signup process</h4>

            <ul>
                <li>Create your developer account: <a href="{% url 'request_invite' %}"> Get
                    your developer invitation</a>
                </li>
                <li>
                    Activate your developer account
                </li>
                <li>You will receive a series of emails. An Activation Email will provide
                    an authorization code. Use this to create your Developer account.
                </li>
                <li>After Creating your account you will receive an email with an
                    activation link. Use the Activation link to activate your account.
                </li>
                <li>You will now be able to login to your developer account.</li>
                <li>Use your Developer account to register an application.</li>
            </ul>
            <h4>User accounts</h4>

            <ul>
                <li>Testing your application needs access to user accounts.</li>
                <li>You can create a user account by selecting "<a href="{% url 'request_invite' %}" target="_blank">Request an Invite</a>" in
                the Account Drop Down menu.</li>
                <li>you will receive a series of emails that let you create a user account.</li>
                <li>Once the user account is activated you need to populate the accounnt with claims data.</li>
                <li></li>

            </ul>

        </div>
    </div>
</div>
{% endblock %}