<div class="col-lg-12 well">

    <h4>Welcome New Blue Button API Test Users</h4>
    {% if crosswalk.fhir_id %}
        <div class="col-lg-6">
            <div class="row text-center">
                <a href="/bluebutton/fhir/v1/{{ crosswalk.fhir_id }}/">
                            <button type="button" class="btn btn-primary"> <i class="fa fa-map"></i> View Personal Profile </button></a>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="row text-center">
                <a href="/bluebutton/fhir/v1/ExplanationOfBenefit/">
                            <button type="button" class="btn btn-primary"> <i class="fa fa-map"></i> View Explanation of Benefit Records </button></a>
            </div>
        </div>
    {% else %}
        <p>Use the button below to import a CMS Blue button text file and create claims records you can test with.
        </p>
        <p>Don't worry if you don't have a CMS Blue Button text file. When you open the form
        and use the text from the text input section.</p>
        <p>The CMS Blue Button FHIR API will use the data from the claims section of the Blue Button text file
        to create records in the backend for you to test with.
        </p>
        <div class="row text-center">
        <a href="/create_test_account/bb_upload/">
                        <button type="button" class="btn btn-primary"> <i class="fa fa-map"></i> Create Claims from Blue Button Text File </button></a>
        </div>
    {% endif %}
</div>