{% extends "base.html" %}
{% load i18n %}

<!-- Ignore Banner Code -->
{% block banner %}{% endblock %}

{% block Content %}
<div class="sandbox-gradient-bg">
	<div class="gradient-content-container">
		<h1>Enter New Password</h1>
		<p>Reset your password below. Please enter your new password twice so we can verify you typed it in correctly.</p>

		{% if form.errors %}
		<div class="gradient-messages-container">
			<span>
				{% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
			</span>

			{% block messages %}
				{% include "include/messages.html" %}
			{% endblock %}			

		</div>
		{% endif %}

		<!-- Content Card -->
		<div class="gradient-content-card">
			<div class="content">
				<!-- Password Set Form -->
				<form class="" method="post" action="">{% csrf_token %}
					<p class="ds-u-color--base">Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

					<!-- Current Password Errors -->
					{% if form.old_password.errors %}
					<div class="ds-c-alert ds-c-alert--error ds-u-margin-bottom--2 ds-c-alert--hide-icon">
						{{ form.old_password.errors }}
					</div>
					{% endif %}

					<!-- Current Password Input -->
					{{ form.old_password.label_tag }}
					{{ form.old_password }}
					
					<!-- Password Requirements -->
					<h2>Password Requirements</h2>
					<div class="ds-u-margin-bottom--2">
						{{ form.new_password1.help_text|safe }}
					</div>					

					<!-- New Password Field 1 Errors -->
					{% if form.new_password1.errors %}
					<p class="ds-u-margin-y--1">{{ form.new_password1.errors }}</p>
					{% endif %}

					<!-- New Password Field 1 Input -->
					{{ form.new_password1.label_tag }}
					{{ form.new_password1 }}
					
					<!-- New Password Field 2 Errors (Confirm Password Errors) -->
					{% if form.new_password2.errors %}
					<div class="ds-c-alert ds-c-alert--error ds-u-margin-bottom--2 ds-c-alert--hide-icon">
						{{ form.new_password2.errors }}
					</div>
					{% endif %}

					<!-- New Password Field 2 Input (Confirm Password Input) -->
					{{ form.new_password2.label_tag }}
					{{ form.new_password2 }}

					<!-- New Password Field 2 Help Text (Confirm Password Help Text)-->
					{% if form.new_password2.help_text %}
						{{ form.new_password2.help_text|safe }}
					{% endif %}

					<input type="submit" class="ds-c-button  ds-c-button--primary" value="Change my password" class="default">
	
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
