{% extends "base.html" %}
{% load i18n %}

{% block messages %}

<div class="row">
	<div class="col-lg-8">
		{% include "include/messages.html" %}
	</div>
</div>

{% endblock %}

{% block Content %}
<div class="sandbox-gradient-bg">
	<div class="gradient-content-container">
		<h1>Enter New Password</h1>
		<p>Reset your password below. Please enter your new password twice so we can verify you typed it in correctly.</p>

		{% if form.errors %}
		<div class="gradient-messages-container">
			
				<span>
					{% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
				</span>
		</div>
		{% endif %}

		<!-- Content Card -->
		<div class="gradient-content-card">
			<div class="content">
				{% if validlink %}
				
				<!-- Password Set Form -->
				<form method="post" action="">{% csrf_token %}
					<div class="field-password1">
				 		{{ form.new_password1.errors }}
			      	<label for="id_new_password1">New password: </label>
			      	{{ form.new_password1 }}
			    	</div>
			    	<div class="field-password2">
						{{ form.new_password2.errors }} 
			        	<label for="id_new_password2">Confirm password: </label>
			        	{{ form.new_password2 }}
			    	</div>
			    	<input type="submit" class="ds-c-button ds-c-button--primary" value="Change my password">
				</form>
				{% else %}
				<p class="ds-u-font-size--base">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block ExtraJSFoot %}
    <script type="application/javascript">$("#id_email").focus();</script>
{% endblock %}
