{% extends "base.html" %}
{% load i18n %}

{% block messages %}

<div class="row">
	<div class="col-lg-8">
		{% include "include/messages.html" %}
	</div>
</div>

{% endblock %}

{% block Content %}

<section class="ds-l-container preview__grid ds-u-margin-y--7 sandbox-login-container">
  <div class="ds-l-row ds-u-justify-content--center">
    <div class="ds-l-lg-col--6 ds-l-md-col--8 ds-l-sm-col--12">


	<!-- Title and Context Message -->
	<h1>{{ title }}</h1>


        {% if validlink %}

		<p class="ds-u-font-size--base">Please enter your new password twice so we can verify you typed it in correctly.</p>

		<!-- Password Set Form -->
		<form class="well ds-u-margin-y--3" method="post" action="">{% csrf_token %}

			<fieldset class="module aligned">
			    <div class="form-row field-password1">
			        {{ form.new_password1.errors }}
			        <label for="id_new_password1">New password: </label>
			        {{ form.new_password1 }}
			    </div>
			    <div class="form-row field-password2">
			        {{ form.new_password2.errors }}
			        <label for="id_new_password2">Confirm password: </label>
			        {{ form.new_password2 }}
			    </div>
			    <input type="submit" value="Change my password">
			</fieldset>

		</form>
		<p class="ds-u-margin-y--7"> </p>
	{% else %}

		<p class="ds-u-font-size--base">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
		<p class="ds-u-margin-y--7"> </p>


	{% endif %}

      </div>
	<!--- Usage Notice / Warning --->
		<div class="login-message-container">
			<div class="content">
				{{ settings.DISCLOSURE_TEXT }}
			</div>
		</div>
    </div>
   </div>
  </div>
</section>

{% endblock %}

{% block ExtraJSFoot %}
    <script type="application/javascript">$("#id_email").focus();</script>
{% endblock %}
