{% extends "base.html" %}
{% load i18n %}

{% block messages %}

<div class="row">
	<div class="col-lg-8">
		{% include "include/messages.html" %}
	</div>
</div>

{% endblock %}

{% block Content %}

<section class="ds-l-container preview__grid ds-u-margin-y--7 sandbox-login-container">
  <div class="ds-l-row ds-u-justify-content--center">
		<div class="ds-l-lg-col--6 ds-l-md-col--8 ds-l-sm-col--12">
			<div class="hero-unit">



				<!-- Title and Context Message -->
				<h1>{{ title }}</h1>
				<p class="ds-u-font-size--small">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
				<!-- Login Form -->
				<form class="well ds-u-margin-y--3" method="post" action="">{% csrf_token %}
                                <fieldset class="module aligned">
                                    <div class="form-row field-email">
                                        {{ form.email.errors }}
                                        <label for="id_email">{% trans 'Email address:' %}</label>
                                        {{ form.email }}
                                    </div>
					<input type="submit" class="ds-c-button  ds-c-button--primary" value="{% trans 'Reset my password' %}" />
                                </fieldset>
				</form>
      </div>
			<!-- Usage Notice / Warning -->
			<div class="login-message-container">
				<div class="content">
					{{ settings.DISCLOSURE_TEXT }}
				</div>
			</div>
    </div>
  </div>
</section>

{% endblock %}

{% block ExtraJSFoot %}
    <script type="application/javascript">$("#id_email").focus();</script>
{% endblock %}
