{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li ><a href="/">Home</a></li>
                <li class="active"><a href="{% url "oauth2_provider:list" %}">{% trans "Endorsements" %}</a></li>
            </ol>
        </div>
    </div>

    <div class="block-center">
        <h3 class="block-center-heading">{% trans "Endorsements for" %}
        <a href="{{ application.get_absolute_url }}">{{ application.name }}</a> 
        
       </h3>
        {% if endorsements %}
             <table class="table table-condensed">
            <thead>
                <tr>
                  <th>Name</th>
                  <th>Details</th>
                  <th>Actions</th>
                </tr>
              </thead>
            {% for e in endorsements %}
                   <tr>
                   <td>{{e}}</td>
                   
                   <td>
                   Issued By: {{e.iss}}<br>
                   Expires: {{e.exp}}<br>
                   Signature Verified: {{e.signature_verified}}
                   {% if e.signature_verified %}
                   <a href={{e.url}}>(Signature)</a>
                   {% endif %}
                   </td>
                    
                    <td>
                        <a href="{% url "view_endorsement_payload" e.id  %}">Payload</a> |
                        <a href="{% url "edit_endorsement" application.id e.id  %}">Edit</a> | 
                        <a href="{% url "delete_endorsement" application.id e.id  %}">Delete</a>
                        
                    </td>
                   
                   </tr>
                {% endfor %}
            </table>

            <a class="btn btn-success" href="{% url "add_endorsement" application.id  %}">New Endorsement</a>
        {% else %}
            <p>{% trans "No endorsements defined" %}. <a href="{% url "add_endorsement" application.id  %}">{% trans "Click here" %}</a> {% trans "if you want to register a new one." %} </p>
        {% endif %}
    </div>
{% endblock content %}
