  name: tofu-plan

  on:
    workflow_dispatch:
    push:
      branches:
        - 'noor1027/test-tofu'
    pull_request:
      paths:
        - 'ops/services/**'
        - 'ops/modules/**'

  concurrency:
    group: tofu-plan-or-apply-${{ github.ref }}
    cancel-in-progress: false

  permissions:
    id-token: write
    contents: read

  jobs:
    plan:
      name: Plan ${{ matrix.env }}
      runs-on: codebuild-bb-test-web-server-${{ github.run_id }}-${{ github.run_attempt }}
      strategy:
        fail-fast: false
        matrix:
          env: [test]

      steps:
        - uses: actions/checkout@v4

        - name: Check if tofu is installed
          id: check-tofu
          run: |
            if command -v tofu &>/dev/null; then
              echo "installed=true" >> "$GITHUB_OUTPUT"
              echo "tofu $(tofu version -json | jq -r .terraform_version) already installed"
            else
              echo "installed=false" >> "$GITHUB_OUTPUT"
            fi

        - name: Setup OpenTofu
          if: steps.check-tofu.outputs.installed != 'true'
          uses: opentofu/setup-opentofu@v1
          with:
            tofu_version_file: ops/services/.opentofu-version

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::${{ secrets.NON_PROD_ACCOUNT }}:role/delegatedadmin/developer/bb-${{ matrix.env }}-github-actions
            aws-region: us-east-1

        - name: Tofu Plan
          run: scripts/tofu-plan
          env:
            ENV: ${{ matrix.env }}
