{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "CMS Blue Button API Consent Agreement" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">Consent Agreement v1</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}CMS Blue Button API Connection Consent Agreement{% endblock %}

{% block Content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="ds-col-md-8 ds-col-sm-12">

                <h1 class="ds-h1">Consent Agreement</h1>

                <h4 class="ds-h4">Medicare Beneficiary Agreement to share information with Third Party Application</h4>

                 <p>User agrees to share their Medicare Claims information with a 3PA.
                    The agreement is activated by the User authorizing the 3PA via the
                     "Authorization" screen.</p>
                 <p>Consent is granted for a limited period of time, as defined in
                     the authorization screen.</p>
                 <p>Consent is granted to a limited range of the user's data as defined by
                     the scopes selected in the authorization screen.</p>
                 <p>Consent is limited to the specific 3PA identified in the authorization
                     screen and is not transferable.</p>
                <h4>Definitions</h4>
                <p>User: A Medicare Beneficiary with a MyMedicare.gov account.</p>
                <p>Third Party Application (3PA): An application, program or mobile "app" that
                is registered on the CMS Blue Button API system.</p>
            </div>
            <div class="ds-col-md-4 ds-col-sm-12">
                <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
{% endblock %}