{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
    <script src="{% static 'js/switch_content.js' %}"></script>
{% endblock %}
{% block title %}{% trans "CMS Blue Button API Policies" %}{% endblock %}
{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>

            <li class="active">Usage Policy</li>
        </ul>
    </div>
{% endblock %}
{% block pagename %}CMS Blue Button API Data Usage Policy{% endblock %}

{% block Content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="ds-col-md-8 ds-col-sm-12">

                <h1 class="ds-h1">CMS Blue Button Third Party Application Data Usage Policy</h1>

                <h4 class="ds-h4">Third Party Application Data Protection Responsibilities</h4>

                 <p>Third Party Application agrees to hold beneficiary data securely.
                    <br/>
                    Third Party Application agrees to delete beneficiary data received
                     via this API should siad beneficiary delete their account, or request
                     that their data be deleted.
                     <br/>
                    Third Party Application agrees to abide by the privacy policy responsibilities
                     they declare in the privacy URL page submitted when registering their
                     application to CMS Blue Button API.

                     <br/>
                </p>

            </div>
            <div class="ds-col-md-4 ds-col-sm-12">
                <img src="{% static 'img/layout/bluebuttonapiv1.png' %}"
                    style="height:300px">
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="ds-col-md-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}